button {

    border-radius: 4px;
    transition: 0.2s ease;
    padding: 16px;
    border: 0;
    color: $primary-white;
    width: 100%;

    &:enabled {

        background-color: $primary-green;

        &:hover {
    
            background-color: $secondary-green;
            cursor: pointer;
    
        }
    
    }

    &:disabled {

        background-color: rgba($color: $primary-green, $alpha: 0.5);

        &:hover {
    
            cursor: not-allowed;
    
        }
    

    }

}