<!DOCTYPE html>

<html lang="en" data-site="login" data-theme="dark">

    <head>
    
        <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">
        <title>ABTIS | Student Login</title>
    
    </head>
    
    <body>

        <div class="modal">

            <div class="header">

                <h4>Login as <span style="color: #347542; font-weight: 500;">FEU Roosevelt student</span></h4>

            </div>

            <h1 class="title">Automated Book Tracking and Inventory System</h1>

            <div class="warning" style="display: none;">

                <i class="warning fa-regular fa-triangle-exclamation"></i>
                <div class="text">

                    <h3>An error had occured</h3>
                    <h4>No error value given.</h4>

                </div>

            </div>

            <form>

                <div class="inputs">

                    <div class="phoneNumber">

                        <input type="text" name="phoneNumber" class="input" placeholder=" ">
                        <label for="phoneNumber" class="label">Phone number</label>
    
                    </div>
    
                    <div class="password">
    
                        <div class="container">
    
                            <input type="text" name="password" class="input" placeholder=" ">
                            <label for="password" class="label">Password</label>
    
                        </div>
    
                        <a href="javascript:void(0);">Forgot password?</a>
    
                    </div>

                </div>

                <div class="actions">

                    <button type="submit" disabled>
                        Sign in
                        <i class="fa-regular fa-right-to-bracket"></i>
                    </button>

                    <a href="/">Continue as FEU Roosevelt personnel</a>

                </div>

            </form>

            <h4 class="note">Only FEU Roosevelt personnel are able to sign in.</h4>

        </div>
    
        <script type="module" src="/static/scripts/clients/student/login.client.js"></script>

    </body>

</html>