<!DOCTYPE html>

<html lang="en" data-site="error" data-theme="light">

    <head>
    
        <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">
        <title>ABTIS Error</title>
    
    </head>
    
    <body>

        <div class="modal">

            <i class="fa-solid fa-circle-xmark"></i>

            <div class="error">

                <div class="heading">

                    <h1 class="title">Title placeholder</h1>
                    <h2 class="status">000</h2>

                </div>

                <h3 class="body">Body placeholder</h3>

            </div>

            <a href="/" class="return">Go back to account login</a>

        </div>
    
        <script type="module" src="/static/scripts/clients/error.client.js"></script>

    </body>

</html>