<!DOCTYPE html>

<html lang="en" data-site="login">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <script type="module" src="/static/scripts/clients/initialize.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Sign in to your account</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body data-site="login">

        <div class="login">

            <h1 class="header">Automated Book Tracking and Inventory System</h1>

                <div class="error" style="display: none;"><p></p></div>

                <form>

                    <div class="inputs">

                        <div class="username">

                            <label for="username">Username</label>
                            <input id="inputs-username" type="username" name="username" placeholder="Username" required>
    
                        </div>
    
                        <div class="password">
    
                            <label for="password">Password</label>
                            <input id="inputs-password" type="password" name="password" placeholder="Password" required>
    
                        </div>

                    </div>

                    <div class="cta">

                        <button type="submit" disabled>Sign in</button>

                        <a href="/student">Continue as Student</a>

                    </div>

                </form>

        </div>

        <script type="module" src="/static/scripts/clients/login.js"></script>

    </body>

</html>