<!DOCTYPE html>

<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Login to your account</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <h1>Welcome, you are in the login page!</h1>

        <script type="module" src="/static/scripts/clients/login.js"></script>

    </body>

</html>