<!DOCTYPE html>

<html lang="en" data-site="staff">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <script type="module" src="/static/scripts/clients/initialize.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Staff Dashboard</title>
        <meta charset="UTF-8">

    </head>

    <body>

        <div class="staff">

            <div class="sidebar">

                <div class="sidebar-header">

                    <img src="/static/assets/images/feur_logo.webp" alt="">
                    <h1>A.B.T.I.S.</h1>

                </div>

                <nav class="sidebar-links">

                    <div class="sidebar-links-nav">

                        <label for="sidebar-links-nav">Navigation</label>

                        <a class="sidebar-links-nav-dashboard active" href="javascript:void(0)">
                            <i class="fa-solid fa-house"></i>
                            Dashboard
                        </a>
                        <a class="sidebar-links-nav-inventory" href="javascript:void(0)">
                            <i class="fa-solid fa-box-archive"></i>
                            Inventory
                        </a>

                    </div>

                    <div class="sidebar-links-librarian">

                        <label for="sidebar-links-librarian">Librarian Actions</label>

                        <a class="sidebar-links-librarian-manage" href="javascript:void(0)">
                            <i class="fa-solid fa-gears"></i>
                            Manage Books
                        </a>

                    </div>

                    <div class="sidebar-links-admin">

                        <label for="sidebar-links-admin">IT Actions</label>

                        <a class="sidebar-links-admin-manage" href="javascript:void(0)">
                            <i class="fa-solid fa-gears"></i>
                            Manage Students
                        </a>

                    </div>

                </nav>

                <div class="sidebar-spacer"></div>

                <div class="sidebar-footer">

                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-gear"></i>
                        Settings
                    </a>

                </div>

            </div>

            <div class="dashboard">

                <div class="modals" id="md" style="display: none;">

                    <div class="lend" id="md-lend" style="display: none;">

                        <div class="header">

                            <label for="lend">Lend Book to Student</label>

                            <i class="fa-solid fa-close" id="md-lend-close"></i>

                        </div>

                        <div id="md-lend-error" class="error" style="display: none;"><p></p></div>

                        <form>

                            <div class="lendedBook">

                                <label for="lendedBook">Book to be lended</label>
                                <div id="md-lend-lendedBook"></div>

                            </div>

                            <div class="studentNumber">

                                <label for="studentNumber">Student number</label>
                                <input id="md-lend-studentNumber" name="studentNumber" type="text" placeholder="Student number" required>

                            </div>

                            <div class="dueDate">

                                <label for="dueDate">Due date</label>
                                <input id="md-lend-dueDate" name="dueDate" type="date" required>

                            </div>
                            
                            <button type="submit" id="md-lend-submit" disabled>Submit</button>

                        </form>

                    </div>

                    <div class="lend-confirm" id="md-lend-confirm" style="display: none;">

                        <div class="header">

                            <label for="lend-confirm">Confirm Lend Book to Student</label>

                            <i class="fa-solid fa-close" id="md-lend-confirm-close"></i>

                        </div>

                        <form>

                            <div class="lendedBook">

                                <label for="lendedBook">Lended book title</label>
                                <div id="md-lend-confirm-lendedBook"></div>

                            </div>

                            <div class="studentName">

                                <label for="studentName">Student name</label>
                                <div id="md-lend-confirm-studentName"></div>

                            </div>

                            <div class="studentNumber">

                                <label for="studentNumber">Student number</label>
                                <div id="md-lend-confirm-studentNumber"></div>

                            </div>

                            <div class="dueDate">

                                <label for="dueDate">Due date</label>
                                <div id="md-lend-confirm-dueDate"></div>

                            </div>

                            <button id="md-lend-confirm-submit" type="submit">Confirm & Submit</button>
                            
                        </form>
        
                    </div>

                    <div class="edit" id="md-edit" style="display: none;">

                        <div class="header">

                            <label for="edit">Book Edit</label>

                            <i class="fa-solid fa-close" id="md-edit-close"></i>

                        </div>

                        <form>

                            <div class="id">

                                <label for="id">Book Identification Number</label>
                                <div id="md-edit-id"></div>

                            </div>

                            <div class="title">

                                <label for="title">Book Title</label>
                                <input id="md-edit-title" type="text" placeholder="Title" required>
                                
                            </div>

                            <div class="author">

                                <label for="author">Book Author</label>
                                <input id="md-edit-author" type="text" placeholder="Author" required>

                            </div>

                            <div class="genre">

                                <label for="genre">Book Genre</label>
                                <input id="md-edit-genre" type="text" placeholder="Genre" required>

                            </div>

                            <div class="datePublicized">

                                <label for="datePublicized">Book Date of Publication</label>
                                <input id="md-edit-datePublicized" type="date" required>

                            </div>

                            <button id="md-edit-submit" type="submit" disabled>Submit changes</button>

                        </form>

                    </div>

                    <div class="edit-confirm" id="md-edit-confirm" style="display: none;">

                        <div class="header">

                            <label for="edit-confirm">Confirm Book Edit</label>

                            <i class="fa-solid fa-close" id="md-edit-confirm-close"></i>

                        </div>

                        <form>

                            <div class="id">

                                <label for="id">Book Identification Number</label>
                                <div id="md-edit-confirm-id"></div>

                            </div>

                            <div class="title">

                                <label for="title">Book Title</label>
                                <div id="md-edit-confirm-title"></div>

                            </div>

                            <div class="author">

                                <label for="author">Book Author</label>
                                <div id="md-edit-confirm-author"></div>

                            </div>

                            <div class="genre">

                                <label for="genre">Book Genre</label>
                                <div id="md-edit-confirm-genre"></div>

                            </div>

                            <div class="datePublicized">

                                <label for="datePublicized">Book Date of publication</label>
                                <div id="md-edit-confirm-datePublicized"></div>

                            </div>

                            <button id="md-edit-confirm-submit" type="submit">Confirm & Submit changes</button>

                        </form>

                    </div>

                </div>

                <div class="header">

                    <div class="heading">

                        <h2>ABTIS / Dashboard</h2>
                        <h3>Logged in as a Librarian</h3>

                    </div>

                    <div class="actions">

                        <a id="hd-actions-theme">
                            <i class="fa-solid fa-moon"></i>
                            <span></span>
                        </a>
                        
                        <a id="hd-actions-refresh">
                            <i class="fa-solid fa-rotate"></i>
                            Refresh
                        </a>

                        <a id="hd-actions-logout" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>

                    </div>

                </div>

                <div class="container">

                    <div class="overview">

                        <label for="overview">Overview</label>

                        <div class="container">

                            <div class="availability">

                                <label for="availability">Books available</label>
                                
                                <div class="data">
                                    
                                    <h3 id="ov-av-data-count">0</h3>
                                    
                                </div>

                            </div>

                            <div class="borrowed">

                                <label for="borrowed">Books borrowed</label>

                                <div class="data">

                                    <h3 id="ov-br-data-count">0</h3>

                                </div>

                            </div>

                            <div class="due">

                                <label for="due">Books due</label>

                                <div class="data">

                                    <h3 id="ov-du-data-count">0</h3>

                                </div>

                            </div>

                            <div class="registered">

                                <label for="registered">Registered students</label>

                                <div class="data">

                                    <h3 id="ov-rs-data-count">0</h3>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="notifications">

                        <label for="notifications">Notifications</label>

                        <div id="nf-data-entries" class="entries"></div>

                    </div>

                    <div class="availability">

                        <label for="availability">Books available</label>

                        <div id="av-data-entries" class="entries"></div>

                    </div>

                    <div class="borrowed">

                        <label for="borrowed">Books borrowed</label>

                        <div id="br-data-entries" class="entries"></div>

                    </div>

                </div>

            </div>

        </div>

        <script type="module" src="/static/scripts/clients/staff.js"></script>

    </body>

</html>