<!DOCTYPE html>

<html lang="en">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Staff Dashboard</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <div class="staff">

            <div class="sidebar">

                <div class="sidebar-header">

                    <img src="/static/assets/images/feur_logo.webp" alt="">
                    <h1>A.B.T.I.S.</h1>

                </div>

                <nav class="sidebar-links">

                    <div class="sidebar-links-nav">

                        <label for="sidebar-links-nav">Navigation</label>

                        <a class="sidebar-links-nav-dashboard active" href="javascript:void(0)">
                            <i class="fa-solid fa-house"></i>
                            Dashboard
                        </a>
                        <a class="sidebar-links-nav-inventory" href="javascript:void(0)">
                            <i class="fa-solid fa-box-archive"></i>
                            Inventory
                        </a>

                    </div>

                    <div class="sidebar-links-librarian">

                        <label for="sidebar-links-librarian">Librarian Actions</label>

                        <a class="sidebar-links-librarian-manage" href="javascript:void(0)">
                            <i class="fa-solid fa-gears"></i>
                            Manage Books
                        </a>

                    </div>

                    <div class="sidebar-links-admin">

                        <label for="sidebar-links-admin">IT Actions</label>

                        <a class="sidebar-links-admin-manage" href="javascript:void(0)">
                            <i class="fa-solid fa-gears"></i>
                            Manage Students
                        </a>

                    </div>

                </nav>

                <div class="sidebar-spacer"></div>

                <div class="sidebar-footer">

                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-gear"></i>
                        Settings
                    </a>

                </div>

            </div>

            <div class="dashboard">

                <div class="header">

                    <div class="breadcrumbs">

                        <h2>ABTIS / Dashboard</h2>

                    </div>

                    <div class="actions">

                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-bell"></i>
                        <i class="fa-solid fa-circle-user"></i>

                    </div>

                </div>

                <div class="container">

                    <div class="overview">

                        <label for="overview">Overview</label>

                        <div class="container">

                            <div class="availability">

                                <label for="availability">Books available</label>

                                <div class="data">

                                    <h3>0</h3>
                                    <h4>books currently available</h4>

                                </div>

                            </div>

                            <div class="borrowed">

                                <label for="borrowed">Books borrowed</label>

                                <div class="data">

                                    <h3>0</h3>
                                    <h4>books currently borrowed</h4>

                                </div>

                            </div>

                            <div class="due">

                                <label for="due">Books due</label>

                                <div class="data">

                                    <h3>0</h3>
                                    <h4>books currently past due</h4>

                                </div>

                            </div>

                            <div class="registered">

                                <label for="registered">Registered students</label>

                                <div class="data">

                                    <h3>0</h3>
                                    <h4>students currently registered</h4>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="notifications">

                        <label for="notifications">Notifications</label>

                        <div class="entries">
                            
                            <div class="entry">

                                <h3 class="message">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque nam in cumque necessitatibus numquam a atque illum? Perspiciatis, est inventore.</h3>
                                <p class="date">3 APR 2023</p>

                            </div>

                        </div>

                    </div>

                    <div class="availability">

                        <label for="availability">Books available</label>

                        <div class="entries">
                            
                            <div class="entry"></div>

                        </div>

                    </div>

                    <div class="borrowed">

                        <label for="borrowed">Books borrowed</label>

                        <div class="entries">
                            
                            <div class="entry"></div>
                            <div class="entry"></div>
                            <div class="entry"></div>
                            <div class="entry"></div>
                            <div class="entry"></div>
                            <div class="entry"></div>

                        </div>

                    </div>

                </div>

                <div class="footer">

                    <div class="report">

                        <a href="javascript:void(0)">Report a bug</a>

                    </div>

                    <div class="copyright">

                        <p>Made by <a href="https://github.com/BrianPHL">Brian</a></p>

                    </div>

                </div>

            </div>

        </div>

        <script type="module" src="/static/scripts/clients/staff.js"></script>

    </body>

</html>