<!DOCTYPE html>

<html lang="en">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Staff Dashboard</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <div class="staff">

            <div class="staff-sidebar">

                <div class="staff-sidebar-header">

                    <img src="/static/assets/images/feur_logo.svg" alt="">
                    <h1>A.B.T.I.S.</h1>

                </div>

                <nav class="staff-sidebar-links">

                    <div class="staff-sidebar-links-nav">

                        <label for="staff-sidebar-links-nav">Navigation</label>

                        <a class="staff-sidebar-links-nav-dashboard active" href="javascript:void(0)">
                            <i class="material-icons">space_dashboard</i>
                            Dashboard
                        </a>
                        <a class="staff-sidebar-links-nav-inventory" href="javascript:void(0)">
                            <i class="material-icons">inventory</i>
                            Inventory
                        </a>

                    </div>

                    <div class="staff-sidebar-links-admin">

                        <label for="staff-sidebar-links-admin">Administrative</label>

                        <a class="staff-sidebar-links-admin-manage" href="javascript:void(0)">
                            <i class="material-icons">admin_panel_settings</i>
                            Manage
                        </a>

                    </div>

                </nav>

                <div class="staff-sidebar-spacer"></div>

                <div class="staff-sidebar-footer">

                    <a href="javascript:void(0)">
                        <i class="material-icons">settings</i>
                        Settings
                    </a>

                </div>

            </div>

            <div class="staff-dashboard">

            </div>

        </div>

        <script type="module" src="/static/scripts/clients/staff.js"></script>

    </body>

</html>