<!DOCTYPE html>

<html lang="en" data-site="student">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <script type="module" src="/static/scripts/clients/initialize.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Student Dashboard</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <div class="student">

            <div class="sidebar">

                <div class="header">

                    <img src="/static/assets/images/feur_logo.webp" alt="">
                    <h1>A.B.T.I.S.</h1>

                </div>

                <div class="links">

                    <nav>

                        <label for="nav">Navigation</label>

                        <a class="nav-dashboard active" href="javascript:void(0)">

                            <i class="fa-solid fa-house"></i>
                            Dashboard

                        </a>

                    </nav>

                </div>

                <div class="spacer">

                </div>

                <div class="footer">

                    <a class="settings" chref="javascript:void(0)">

                        <i class="fa-solid fa-gear"></i>
                        Settings

                    </a>

                </div>

            </div>
    
            <div class="dashboard">
    
                <div class="modals" id="md" style="display: none;">
                
                    <div class="borrow" id="md-borrow" style="display: none;">

                        <div class="header">

                            <label for="borrow">Borrow Book</label>

                            <i class="fa-solid fa-close" id="md-borrow-close"></i>

                        </div>

                        <div id="md-borrow-error" class="error" style="display: none;"><p></p></div>

                        <form>

                            <div class="book">

                                <label for="book">Book to be Borrowed</label>
                                <div id="md-borrow-book"></div>

                            </div>

                            <div class="studentNumber">

                                <label for="studentNumber">Student Number</label>
                                <input id="md-borrow-studentNumber" type="text" required>

                            </div>
                            
                        </form>

                        <button type="submit" id="md-borrow-submit" disabled>Submit</button>

                    </div>

                    <div class="borrow-confirm" id="md-borrow-confirm" style="display: none;">
                        
                        <div class="header">

                            <label for="borrow">Borrow Book</label>

                            <i class="fa-solid fa-close" id="md-borrow-confirm-close"></i>

                        </div>

                        <form>

                            <div class="book">

                                <label for="book">Book to be Borrowed</label>
                                <div id="md-borrow-confirm-book"></div>

                            </div>

                            <div class="studentName">

                                <label for="studentNumber">Student Name</label>
                                <div id="md-borrow-confirm-studentName"></div>

                            </div>

                            <div class="studentNumber">

                                <label for="studentNumber">Student Number</label>
                                <div id="md-borrow-confirm-studentNumber"></div>

                            </div>

                            <div class="phoneNumber">

                                <label for="phoneNumber">Phone Number</label>
                                <div id="md-borrow-confirm-phoneNumber"></div>

                            </div>
                            
                            <div class="studentEmail">

                                <label for="studentEmail">Student Email</label>
                                <div id="md-borrow-confirm-studentEmail"></div>

                            </div>

                            <div class="dueDate">

                                <label for="dueDate">Borrow Due Date</label>
                                <div id="md-borrow-confirm-dueDate"></div>

                            </div>

                        </form>

                        <button type="submit" id="md-borrow-confirm-submit">Confirm & Submit</button>

                    </div>

                </div>
    
                <div class="header" id="hd">

                    <div class="heading">

                        <h2>ABTIS / Dashboard</h2>
                        <h3>Logged in as a Student</h3>

                    </div>

                    <div class="actions">

                        <a id="hd-actions-theme">
                            <i class="fa-solid fa-moon"></i>
                            <span></span>
                        </a>
                        
                        <a id="hd-actions-refresh">
                            <i class="fa-solid fa-rotate"></i>
                            Refresh
                        </a>

                        <a id="hd-actions-logout" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>

                    </div>

                </div>
    
                <div class="container">

                    <div class="available" id="av">

                        <label for="available">Books Available</label>

                        <div id="av-data-entries" class="entries"></div>

                    </div>

                </div>
    
            </div>

        </div>

        <script type="module" src="/static/scripts/clients/student.js"></script>

    </body>

</html>