<!DOCTYPE html>

<html lang="en">

    <head>

        <link rel="shortcut icon" href="/static/assets/ico/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABTIS | Student Dashboard</title>
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">

    </head>

    <body>

        <h1>Welcome, student!</h1>
        <h2>You are currently in the FEUR Library Dashboard</h2>
        <h3>Here you can browse, borrow, and return books.</h3>

        <script type="module" src="/static/scripts/clients/student.js"></script>

    </body>

</html>