$poppins: 'Poppins', sans-serif;

html[data-theme="light"] {

    --background-primary: #F6F6F6;
    --background-secondary: #F0F0F0;
    --background-tertiary: #E5E5E5;

    --typography-primary: #202020;
    --typography-secondary: #606060;

    --accent-primary: #347542;
    --accent-secondary: #D3F6DB;

    --warning-primary: #D02020;
    --warning-secondary: #FF5050;

}

html[data-theme="dark"] {

    --background-primary: #101010;
    --background-secondary: #151515;
    --background-tertiary: #202020;

    --typography-primary: #E0E0E0;
    --typography-secondary: #A0A0A0;

    --accent-primary: #347542;
    --accent-secondary: #18271C;

    --warning-primary: #FF5050;
    --warning-secondary: #D02020;

}