$source-sans-pro: 'Source Sans Pro', sans-serif;
$font-300: 300;
$font-400: 400;
$font-600: 600;
$font-700: 700;

html[data-theme="light"] {

    --bg-primary: #F6F6F6;
    --bg-secondary: #F0F0F0;
    --bg-tertiary: #E0E0E0;
    
    --tg-primary: #101010;
    --tg-secondary: #131313;
    
    --gr-primary: #0B3612;
    --gr-secondary: #347542;

    --gr-primary-rgb: 11, 54, 18;
    --gr-secondary-rgb: 52, 117, 66;
    
    --er-outline: #CECECE;
}

html[data-theme="dark"] {

    --bg-primary: #161616;
    --bg-secondary: #131313;
    --bg-tertiary: #101010;

    --tg-primary: #F0F0F0;
    --tg-secondary: #CCCCCC;

    --gr-primary: #347542;
    --gr-secondary: #46A35A;

    --gr-primary-rgb: 52, 117, 66;
    --gr-secondary-rgb: 70, 163, 90;

    --er-outline: #202020;
}