$source-sans-pro: 'Source Sans Pro', sans-serif;
$font-300: 300;
$font-400: 400;
$font-600: 600;
$font-700: 700;

$primary-black: #101010;
$secondary-black: #131313;
$tertiary-black: #161616;

$primary-white: #F6F6F6;
$secondary-white: #F0F0F0;
$tertiary-white: #E0E0E0;

$primary-green: #0B3612;
$secondary-green: #347542;