html[data-site="dashboard"] {

    & h1 { @include h1-styles(); }
    & h2 { @include h2-styles(); }
    & h3 { @include h3-styles(); }
    & h4 { @include h4-styles(); }
    & a { @include anchor-styles(); }
    & button { @include primary-button-styles(); }
    & i { color: var(--typography-secondary); }
    
    & > body {

        background-color: var(--background-secondary);
        grid-template-columns: 100%;
        grid-template-rows: auto auto 1fr;
        display: grid;
        height: 100vh;

        .modal {

            background-color: rgba($color: #18271C, $alpha: 0.8);
            place-content: center;
            position: absolute;
            display: grid;
            z-index: 999;
            height: 100vh;
            width: 100%;

            & > div {

                & > .action, .lend, .registration {

                    grid-template-columns: 100%;
                    background-color: var(--background-secondary);
                    flex-direction: column;
                    display: grid;
                    width: 360px;

                    & > .prompt {

                        background-color: var(--background-secondary);
                        align-items: center;
                        grid-column: 1;
                        grid-row: 1;
                        position: relative;
                        z-index: 9999;
                        height: auto;
                        width: 360px;
                        gap: 3rem;

                        &[data-type="success"] {

                            justify-content: center;
                            flex-direction: column;
                            display: flex;

                            & > i {

                                font-size: 6rem;
                                color: var(--accent-primary);

                            }

                            & > .context {

                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                padding: 0rem 1rem 0rem 1rem;
                                display: flex;
    
                                & > h2 { color: var(--accent-primary); }
    
                            }

                        }

                        &[data-type="error"] {

                            justify-content: center;
                            flex-direction: column;
                            display: flex;

                            & > i {

                                font-size: 6rem;
                                color: var(--warning-secondary);

                            }

                            & > .context {

                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                padding: 0rem 1rem 0rem 1rem;
                                display: flex;
    
                                & > h2 { color: var(--warning-primary); }
    
                            }

                        }

                    }

                    & > .form {

                        grid-column: 1;
                        grid-row: 1;

                        & > .header {

                            justify-content: space-between;
                            align-items: center;
                            display: flex;
                            padding: 2rem 2rem 1rem 2rem;

                            & > .heading {

                                flex-direction: column;
                                display: flex;

                            }
    
                            & > i {
    
                                transition: 0.2s ease;
    
                                &:hover {
    
                                    cursor: pointer;
                                    color: var(--warning-primary);
    
                                }
    
                            }
    
                        }
    
                        & > form {
    
                            flex-direction: column;
                            display: flex;
                            padding: 2rem;
                            gap: 1rem;

                            & > div[data-type="preview"] {

                                background-color: transparent;
                                justify-content: space-between;
                                align-items: center;
                                display: flex;
                                padding: 0.75rem 0.75rem;
                                border: 1px solid var(--background-tertiary);

                                & > label { @include hovering-label(); }
                                & > h3 { color: var(--typography-primary); }
                                & > i {

                                    transition: 0.2s ease all;

                                    &:hover {

                                        cursor: pointer;
                                        color: var(--accent-primary)

                                    }

                                }

                            }
    
                            & > div { 
                                
                                @include input-styles(); 

                                & > select {

                                    @include h3-styles();

                                    background-color: transparent;
                                    transition: 0.2s ease all;
                                    padding: 0.75rem 0.75rem;
                                    border: 1px solid var(--background-tertiary);
                                    width: 100%;
                                    color: var(--typography-primary);
                                    
                                    & > option {

                                        @include h3-styles();

                                    }

                                }

                            }
    
                            & > .actions {
    
                                justify-content: flex-end;
                                flex-direction: row;
                                align-items: center;
                                margin-top: 2rem;
                                display: flex;
                                width: 100%;
                                gap: 1rem;
    
                                & > button[type="reset"] {
    
                                    @include anchor-styles;
                                    
                                    background-color: transparent;
                                    padding: 0;
                                    color: var(--accent-primary);
    
                                    &:hover { color: var(--warning-primary); }
    
                                }
    
                                & > button[type="submit"] {
    
                                    @include primary-button-styles;
                                    @include h3-styles;
    
                                    padding: 0.5rem 1rem 0.5rem 1rem;
    
                                }
    
                            }
    
                        }
                        
                    }

                }

                & > .delete {

                    grid-template-columns: 100%;
                    background-color: var(--background-secondary);
                    flex-direction: column;
                    display: grid;
                    width: 360px;

                    & > .prompt {

                        background-color: var(--background-secondary);
                        align-items: center;
                        grid-column: 1;
                        grid-row: 1;
                        position: relative;
                        z-index: 9999;
                        height: auto;
                        width: 360px;
                        gap: 3rem;

                        &[data-type="success"] {

                            justify-content: center;
                            flex-direction: column;
                            display: flex;

                            & > i {

                                font-size: 6rem;
                                color: var(--accent-primary);

                            }

                            & > .context {

                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                padding: 0rem 1rem 0rem 1rem;
                                display: flex;
    
                                & > h2 { color: var(--accent-primary); }
    
                            }

                        }

                        &[data-type="error"] {

                            justify-content: center;
                            flex-direction: column;
                            display: flex;

                            & > i {

                                font-size: 6rem;
                                color: var(--warning-secondary);

                            }

                            & > .context {

                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                padding: 0rem 1rem 0rem 1rem;
                                display: flex;
    
                                & > h2 { color: var(--warning-primary); }
    
                            }

                        }

                    }

                    & > .container {

                        grid-column: 1;
                        grid-row: 1;

                        & > .header {

                            justify-content: space-between;
                            align-items: center;
                            display: flex;
                            padding: 2rem 2rem 1rem 2rem;

                            & > .heading {

                                flex-direction: column;
                                display: flex;

                            }
    
                            & > i {
    
                                transition: 0.2s ease;
    
                                &:hover {
    
                                    cursor: pointer;
                                    color: var(--warning-primary);
    
                                }
    
                            }
    
                        }

                        form {

                            flex-direction: column;
                            display: flex;
                            padding: 2rem;
                            gap: 1rem;

                            & > .info {

                                @include h3-styles();

                                & > .entryTitle { font-weight: 600; }
                                & > .important { color: var(--warning-secondary); }

                            }

                            & > .actions {
    
                                justify-content: flex-end;
                                flex-direction: row;
                                align-items: center;
                                margin-top: 2rem;
                                display: flex;
                                width: 100%;
                                gap: 1rem;
    
                                & > button[type="return"] {
    
                                    @include anchor-styles;
                                    
                                    background-color: transparent;
                                    padding: 0;
                                    color: var(--typography-secondary);

                                    & > i { color: var(--typography-secondary); }
                                    &:hover { color: var(--accent-primary); }
    
                                }
    
                                & > button[type="submit"] {
    
                                    @include h3-styles;

                                    background-color: var(--warning-secondary);
                                    padding: 0.5rem 1rem 0.5rem 1rem;
                                    color: var(--typography-primary);

                                    & > i { color: var(--typography-primary); }
                                    &:hover {

                                        background-color: var(--warning-primary);
                                        color: var(--background-primary);

                                    }
    
                                }
    
                            }

                        }

                    }

                }

                & > .assign {

                    background-color: var(--background-secondary);
                    flex-direction: column;
                    border-radius: 4px;
                    padding: 1.5rem;
                    display: flex;
                    width: 360px;

                    & > .header {

                        justify-content: space-between;
                        padding-bottom: 1.5rem;
                        align-items: center;
                        display: flex;

                        & > i {

                            transition: 0.2s ease all;

                            &:hover {

                                cursor: pointer;
                                color: var(--accent-primary);

                            }

                        }
        
                    }
                    
                    & > .form {

                        flex-direction: column;
                        border-radius: 4px;
                        display: flex;

                        .preloader {

                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            display: flex;
                            height: 320px;
                            gap: 8px;

                        }

                        .container {
        
                            flex-direction: column;
                            overflow-y: auto;
                            min-height: 0;
                            display: none;
                            height: 320px;
                            gap: 0.5rem;
        
                            & > .entry {
        
                                flex-direction: column;
                                border-radius: 2px;
                                flex-shrink: 0;
                                transition: 0.2s ease all;
                                overflow: hidden;
                                display: flex;

                                &[data-selected="true"] {

                                    background-color: var(--accent-secondary);

                                    &:hover { cursor: pointer; }

                                }

                                &[data-selected="false"] {

                                    background-color: transparent;

                                    &:hover {

                                        background-color: var(--background-tertiary);
                                        cursor: pointer;

                                    }

                                }

                                & > .preview {
         
                                    align-items: center;
                                    grid-column: 1;
                                    grid-row: 1;
                                    display: flex;
                                    padding: 1rem;
                                    width: 100%;
                                    gap: 1rem;
        
                                    & > h3 {

                                        @include text-ellipsis-styles();
                                    
                                        width: 100%;
                                        color: var(--typography-primary); 
                                    
                                    }
        
                                    & > i {
            
                                        transition: 0.2s ease all;
            
                                        &:hover { 
                                            
                                            cursor: pointer;
                                            color: var(--accent-primary); 
                                        
                                        }
            
                                    }
        
                                }
        
                                & > .dropdown {
        
                                    flex-direction: column;
                                    grid-column: 1;
                                    grid-row: 2;
                                    padding: 0 1rem 1rem 1rem;
                                    gap: 0.25rem;

                                    & > div {

                                        display: flex;
                                        gap: 0.25rem;
        
                                        & > h3 {

                                            & > .heading { color: var(--typography-primary); }

                                        }
        
                                    }
        
                                    &[data-hidden="false"] {
        
                                        max-height: 100%;
                                        display: flex;
        
                                    }
        
                                    &[data-hidden="true"] {
                                        
                                        max-height: 0;
                                        display: none;
        
                                    }
        
                                }
        
                            }
        
                        }
        
                        & > .footer {
        
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 1rem;
                            display: flex;

                            & > h3 {

                                width: 100%;

                                & > .counter { color: var(--typography-primary); }

                            }

                            & > .actions {
    
                                justify-content: flex-end;
                                flex-direction: row;
                                align-items: center;
                                display: flex;
                                width: 100%;
                                gap: 1rem;
    
                                & > button[type="reset"] {
    
                                    @include anchor-styles;
                                    
                                    background-color: transparent;
                                    padding: 0;
                                    color: var(--typography-secondary);
    
                                    &:hover { color: var(--warning-primary); }
    
                                }
    
                                & > button[type="submit"] {
    
                                    @include primary-button-styles;
                                    @include h3-styles;
    
                                    padding: 0.5rem 1rem 0.5rem 1rem;
    
                                }
    
                            }
        
                        }
        
                    }

                }

            }

        }

        & > header {

            background-color: var(--background-primary);
            flex-direction: column;
            display: flex;

            & > .heading {

                justify-content: space-between;
                display: flex;

                & > .info {

                    text-align: right;

                    & > h2 { color: var(--typography-primary); }

                }

            }

            & > nav {

                justify-content: space-between;
                display: flex;

                & > .tabs {

                    display: flex;

                    & > div {

                        border-bottom: 2px solid transparent;
                        align-items: center;
                        display: flex;
                        padding: 1rem 2rem;
                        gap: 0.5rem;

                        & > i, h2 { 

                            pointer-events: none;
                            transition: 0.2s all ease;
                            color: var(--typography-secondary);

                        }

                        &:hover {

                            border-bottom: 2px solid var(--accent-primary);
                            cursor: pointer;

                            & > i, h2 {

                                color: var(--accent-primary);

                            }


                        }

                    }

                    & > .active {

                        background-color: var(--accent-secondary);
                        border-bottom: 2px solid var(--accent-primary);

                        & > h2, i { color: var(--accent-primary); }

                    }

                }

                & > .actions {

                    align-items: center;
                    display: flex;
                    gap: 1.5rem;

                    & > div {

                        align-items: center;
                        display: flex;
                        gap: 0.5rem;

                        & > i, h2 { transition: 0.2s all ease; }

                        &:hover {

                            cursor: pointer;

                            & > i, h2 { color: var(--accent-primary); }

                        }

                        &:last-child:hover {

                            cursor: pointer;

                            & > i, h2 { color: var(--warning-primary); }

                        }

                    }

                }

            }

        }

        & > .overview {

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            display: grid;
            gap: 2rem;

            & > div {

                grid-template-columns: 100%;
                grid-template-rows: 100%;
                display: grid;
                border: 1px solid var(--background-tertiary);

                & > .loader {

                    background-color: var(--background-secondary);
                    justify-content: center;
                    align-items: center;
                    grid-column: 1;
                    grid-row: 1;
                    display: flex;
                    z-index: 2;
                    gap: 0.5rem;

                }

                & > .data {

                    flex-direction: column;
                    grid-column: 1;
                    grid-row: 1;
                    padding: 1.5rem;
                    display: flex;
                    z-index: 1;
                    gap: 1rem;

                    & > .header {

                        justify-content: space-between;
                        align-items: flex-start;
                        display: flex;

                    }

                    & > h1 { font-size: 1.25rem; }

                }

            }

        }

        & > .table {

            grid-template-columns: auto;
            grid-template-rows: auto;
            flex-direction: column;
            min-height: 0;
            display: grid;
            border: 1px solid var(--background-tertiary);

            & > .loader {
                
                background-color: var(--background-secondary);
                justify-content: center;
                align-items: center;
                grid-column: 1;
                grid-row: 1;
                display: flex;
                z-index: 2;
                gap: 0.5rem;

            }

            & > .content {

                grid-template-columns: 100%;
                grid-template-rows: auto 1fr auto;
                grid-column: 1;
                min-height: 0;
                grid-row: 1;
                z-index: 1;
                display: grid;

                & > .controls {

                    grid-template-columns: 1fr auto;
                    grid-column: 1;
                    grid-row: 1;
                    padding: 1rem;
                    display: grid;
                    width: auto;
        
                    & > .search {
        
                        align-items: center;
                        grid-column: 1;
                        display: flex;
                        gap: 0rem;

                        & > .return {

                            margin-right: 1rem;
    
                            & > i {
                            
                                pointer-events: none;
                                transition: 0.2s ease all; 
                            
                            }
                            &:hover {
    
                                cursor: pointer;
    
                                & > i {
    
                                    color: var(--accent-primary);
    
                                }
    
                            }
    
                        }
        
                        & > .input {
        
                            @include input-styles(); 
        
                            align-items: center;
                            display: flex;
                            width: 100%;
                            gap: 0.5rem;
        
                        }
        
                        & > button[type="submit"] {
        
                            align-items: center;
                            padding: 0rem 1rem 0rem 1rem;
                            display: flex;
                            height: 100%;
                            gap: 0.5rem;
        
                        }
        
                    }
        
                    & > button[type="submit"] {
        
                        grid-column: 2;
                        margin-left: 1rem;
                        padding: 0rem 2rem 0rem 2rem;
                        height: 100%;
        
                        & > i { pointer-events: none; }
        
                    }
                        
                }
    
                & > .data {
    
                    grid-template-columns: 100%;
                    grid-template-rows: auto auto 1fr;
                    grid-column: 1;
                    min-height: 0;
                    grid-row: 2;
                    display: grid;
    
                    & > .headers {
    
                        grid-template-rows: 100%;
                        border-bottom: 1px solid var(--background-tertiary);
                        padding-right: 2rem;
                        align-items: center;
                        border-top: 1px solid var(--background-tertiary);
                        grid-row: 2;
                        display: grid;
                        padding: 1rem;
                        gap: 1rem;
    
                        & >  div {
    
                            align-items: center;
                            display: flex;
                            gap: 0.5rem;
    
                            & > i { 
                                
                                transition: 0.2s ease; 
                                color: var(--typography-primary);
                                
                            }
                            & > div {
    
                                & > h2 { 
                            
                                    pointer-events: none;
                                    transition: 0.2s all ease;
                                    color: var(--typography-primary); 
                                
                                }
    
                                & > h3 { 
    
                                    pointer-events: none;
                                    transition: 0.2s ease; 
                                
                                }
    
                            }
    
                        }
    
                        & > .warning { font-size: 1.25rem; }
                        & > .actions {
    
                            margin-right: 1vw;
    
                        }
    
    
                        & > .warning, .actions {
    
                            align-items: center;
                            visibility: hidden;
                            display: flex;
                            gap: 1rem;
    
                        }
    
                    }
    
                    & > .entries {

                        overflow-y: scroll;
                        grid-row: 3;
    
                        & > .entry {
    
                            grid-template-rows: 100%;
                            border-bottom: 1px solid var(--background-tertiary);
                            align-items: center;
                            display: grid;
                            padding: 1rem;
                            gap: 1rem;
    
                            & > div {
    
                                flex-direction: column;
                                display: flex;
    
                                & > h2, h3 { @include text-ellipsis-styles(); }
                                
                            }
    
                            & > .warning {
    
                                font-size: 1.25rem;
                                color: var(--warning-primary);
    
                            }
    
                            & > .actions {
    
                                flex-direction: row;
                                align-items: center;
                                display: flex;
                                width: auto;
                                gap: 1rem;
    
                                & > i {
    
                                    transition: 0.2s ease all;
    
                                    &[data-disabled="true"] {
    
                                        color: var(--background-tertiary);
    
                                        &:hover {
    
                                            cursor: not-allowed;
    
                                        }
    
                                    }
    
                                    &[data-disabled="false"]:hover {
    
                                        cursor: pointer;
                                        color: var(--accent-primary);
    
                                    }
    
                                }
    
                            }
    
                        }
    
    
    
                    }
    
                }
    
                & > .pagination {
    
                    justify-content: space-between;
                    align-items: center;
                    flex-shrink: 0;
                    border-top: 1px solid var(--background-tertiary);
                    grid-column: 1;
                    grid-row: 3;
                    display: flex;
                    padding: 1rem;
    
                    & > .controls {
    
                        align-items: center;
                        display: flex;
                        gap: 1rem;
    
                        & > div {
    
                            align-items: center;
                            display: flex;
                            gap: 0.5rem;
    
                            & > i { 
                            
                                &[aria-disabled=true] {
    
                                    cursor: not-allowed;
                                    color: var(--typography-secondary);    
    
                                }
                                
                                &[aria-disabled=false] {
    
                                    transition: 0.2s all ease;
                                    cursor: pointer;
                                    color: var(--typography-primary);    
    
                                    &:hover { color: var(--accent-primary); }
    
                                }
    
                            }
    
                        }
    
                        & > h3 {
    
                            align-items: center;
                            display: flex;
                            gap: 0.5rem;
    
                            & > input {
    
                                @include h3-styles();
                            
                                background-color: transparent;
                                transition: 0.2s all ease;
                                align-self: flex-start;
                                padding: 0.25rem 0.25rem;
                                text-align: center;
                                border: 1px solid var(--background-tertiary);
                                color: var(--typography-primary);
                                width: 2rem;
    
                                &:hover, &:focus { 
                                    
                                    border-color: var(--accent-primary); 
                                    outline: none; 
                                
                                }
    
                            }
    
                        }
    
                    }
    
                }

            }
            
        }

        & > .table[data-tab="dashboard"] {

            & > .content > .data > .headers, .entries > .entry { 
                
                grid-template-columns: auto repeat(7, minmax(0, 1fr)) auto; 
            
            }

        }

        & > .table[data-tab="users"] {
            
            & > .content > .data > .headers, .entries > .entry { 
                
                grid-template-columns: auto repeat(5, minmax(0, 1fr)) auto;
            
            }

        }

        & > .table[data-tab="inventory"], 
        .table[data-tab="students"], 
        .table[data-tab="studentDashboard"] {

            
            & > .content > .data > .headers, .entries > .entry {

                grid-template-columns: auto repeat(6, minmax(0, 1fr)) auto;

            }

        }

        & > footer {

            justify-content: space-between;
            display: flex;
    
        }

    }

}

@media only screen and (min-width: 1480px) {

    html[data-site="dashboard"] {

        & > body > header > .heading { margin: 2rem 8rem; }
        & > body > header > nav { margin: 0rem 8rem; }
        & > body > .overview { margin: 2rem 8rem; }
        & > body > .controls { margin: 0rem 8rem; }
        & > body > footer { margin: 2rem 8rem; }
        & > body > .table { margin: 0rem 8rem; }

    }

}

@media only screen and (max-width: 1480px) {

    html[data-site="dashboard"] {

        & > body > header > .heading { margin: 2rem 4rem; }
        & > body > header > nav { margin: 0rem 4rem; }
        & > body > .overview { margin: 2rem 4rem; }
        & > body > .controls { margin: 0rem 4rem; }
        & > body > footer { margin: 2rem 4rem; }
        & > body > .table { margin: 0rem 4rem; }

    }

}

@media only screen and (max-width: 1300px) {

    html[data-site="dashboard"] {

        & > body > header > .heading { margin: 2rem 2rem; }
        & > body > header > nav { margin: 0rem 2rem; }
        & > body > .overview { margin: 2rem 2rem; }
        & > body > .controls { margin: 0rem 2rem; }
        & > body > footer { margin: 2rem; }
        & > body > .table { margin: 0rem 2rem; }

    }

}

@media only screen and (max-width: 1100px) {

    html[data-site="dashboard"] {

        & > body > header > nav > .actions > div > h2 { display: none; }

    }

}

@media only screen and (max-width: 800px) {

    html[data-site="dashboard"] {

        & > body > header > nav > .tabs > div > h2 { display: none; }
        & > body > header > .heading { margin: 1rem 1rem; }
        & > body > header > nav { margin: 0rem 1rem; }
        & > body > .overview {
            
            flex-direction: column;
            padding: 1rem 1rem;
            display: flex;
            gap: 1rem;
            
        }
        & > body > .controls { margin: 0rem 1rem; }
        & > body > footer { margin: 1rem; }
        & > body > .table { margin: 0rem 1rem; }

    }

}

@media only screen and (max-width: 640px) {

    html[data-site="dashboard"] {

        & > body > header > .heading {

            flex-direction: column;
            gap: 2rem;

        }

        & > body > header > .heading > .info { text-align: left; }
        & > body > footer { margin: 1rem; }

    }

}