.staff {

    grid-template-columns: 256px auto;
    grid-template-rows: 100vh;
    background-color: $tertiary-white;
    display: grid;

    &-sidebar {

        background-color: $secondary-white;
        flex-direction: column;
        display: flex;
        padding: 24px;
        gap: 48px;

        &-header {

            flex-direction: column;
            align-items: center;
            display: flex;
            gap: 16px;

            & > img {

                height: 176px;

            }

            & > h1 {

                font-weight: $font-700;
                text-align: center;
                font-size: 24px;
                color: $primary-green;

            }

        }

        &-links {

            flex-direction: column;
            display: flex;
            gap: 16px;

            & > div {

                flex-direction: column;
                display: flex;

                & > label {

                    font-weight: $font-400;
                    font-size: 12px;
                    color: $secondary-green;

                }

                & > a {

                    border-left: 4px solid transparent;
                    font-weight: $font-400;
                    transition: 0.2s ease;
                    font-size: 16px;
                    align-items: center;
                    display: flex;
                    padding: 16px;
                    color: $primary-green;
                    gap: 8px;

                    &:hover {

                        border-left: 4px solid $secondary-green;
                        color: $secondary-green;

                    }

                    & > i {

                        font-size: 16px;

                    }

                }

                .active {

                    border-left: 4px solid $primary-green;

                }

            }

        }

        &-spacer {

            flex-grow: 1;
            display: flex;

        }

        &-footer {

            align-items: center;

            & > a {

                font-weight: $font-400;
                transition: 0.2s ease;
                font-size: 16px;
                align-items: center;
                display: flex;
                color: $primary-green;
                gap: 8px;

                &:hover { color: $secondary-green; }

            }

        }

    }

    &-dashboard {

        grid-template-columns: 100%;
        grid-template-rows: 64px auto 64px;
        display: grid;
        padding: 48px;
        gap: 16px;

        &-header {

            background-color: $secondary-white;
            border-radius: 4px;
            align-content: center;
            grid-column: 1;
            grid-row: 1;
            display: grid;
            padding: 24px;

            &-left {

                grid-column: 1;
                align-items: center;
                display: flex;

                & > h2 {

                    font-weight: $font-600;
                    font-size: 16px;
                    color: $primary-green;
    
                }

            }

            &-right {

                justify-content: flex-end;
                grid-column: 2;
                align-items: center;
                display: flex;
                gap: 16px;

                & > i {

                    transition: 0.2s ease;
                    font-size:16px;
                    color: $secondary-black;

                    &:last-child {

                        font-size: 24px;

                    }

                    &:hover {

                        cursor: pointer;
                        color: $secondary-green;

                    }
                }

            }

        }

        &-container {

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 3fr;
            display: grid;
            gap: 16px;

            & > .staff-dashboard-overview {

                background-color: $secondary-white;
                border-radius: 4px;
                grid-column: 1/4;
                grid-row: 1;

                & > .staff-dashboard-overview-entries {

                    grid-template-columns: auto auto auto auto;
                    display: grid;
                    height: 100%;
                    gap: 8px;
                    padding: 0px 16px 16px 16px;

                    & > div {

                        flex-direction: column;
                        padding: 16px;
                        border: 1px solid $tertiary-white;
                        display: flex;

                        & > label {

                            font-size: 16px;

                        }

                        & > div {

                            justify-content: flex-end;
                            flex-direction: column;
                            line-height: 16px;
                            height: 100%;
                            display: flex;
                            gap: 4px;

                            & > h2 {

                                font-weight: $font-600;
                                font-size: 24px;

                            }

                            & > h3 {

                                font-weight: $font-400;
                                font-size: 12px;

                            }

                        }

                    }

                }

            }

            & > .staff-dashboard-notifications {
                
                background-color: $secondary-white;
                border-radius: 4px;
                grid-column: 1/2;
                grid-row: 2;

            }

            & > .staff-dashboard-availability {
                
                background-color: $secondary-white;
                border-radius: 4px;
                grid-column: 2/3;
                grid-row: 2;

            }

            & > .staff-dashboard-borrowed {
                
                background-color: $secondary-white;
                border-radius: 4px;
                grid-column: 3/4;
                grid-row: 2;

            }

            & > div {

                flex-direction: column;
                display: flex;

                & > label {

                    font-weight: $font-600;
                    padding: 16px;
                    color: $primary-green;

                }

            }

        }

        &-footer {

            background-color: $secondary-white;
            border-radius: 4px;
            align-content: center;
            grid-column: 1;
            grid-row: 3;
            padding: 24px;
            display: grid;

            &-left {

                grid-column: 1;
                align-items: center;
                display: flex;

                & > p {

                    font-weight: $font-400;
                    font-size: 12px;
                    color: $secondary-black;

                }

            }

            &-right {

                justify-content: flex-end;
                grid-column: 2;
                align-items: center;
                display: flex;

                & > p {

                    align-items: center;
                    font-weight: $font-400;
                    font-size: 12px;
                    display: flex;
                    color: $secondary-black;
                    gap: 4px;

                    & > .copyright {

                        font-size: 16px;

                    }

                    & > a {

                        align-items: baseline;
                        transition: 0.2s ease;
                        display: flex;
                        color: $secondary-black;
                        gap: 4px;

                        & > i {

                            font-size: 10px;

                        }
                        
                        &:hover {

                            color: $secondary-green;
                            cursor: pointer;

                        }


                    }

                }

            }

        }

    }

}