@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("/static/styles/icons/css/all.min.css");
html[data-theme=light] {
  --background-primary: #F6F6F6;
  --background-secondary: #F0F0F0;
  --background-tertiary: #E5E5E5;
  --typography-primary: #202020;
  --typography-secondary: #606060;
  --accent-primary: #347542;
  --accent-secondary: #D3F6DB;
  --warning-primary: #D02020;
  --warning-secondary: #FF5050;
}

html[data-theme=dark] {
  --background-primary: #101010;
  --background-secondary: #151515;
  --background-tertiary: #202020;
  --typography-primary: #E0E0E0;
  --typography-secondary: #A0A0A0;
  --accent-primary: #347542;
  --accent-secondary: #18271C;
  --warning-primary: #FF5050;
  --warning-secondary: #D02020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html[data-site=dashboard] h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--typography-primary);
}
html[data-site=dashboard] h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--typography-secondary);
}
html[data-site=dashboard] h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
}
html[data-site=dashboard] h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.625rem;
  color: var(--typography-secondary);
}
html[data-site=dashboard] a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  transition: 0.2s all ease;
}
html[data-site=dashboard] a:hover {
  color: var(--accent-primary);
}
html[data-site=dashboard] button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--typography-secondary);
  background-color: transparent;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 2rem;
  display: flex;
  gap: 0.5rem;
  transition: 0.2s all ease;
  border: none;
}
html[data-site=dashboard] button:enabled {
  background-color: var(--accent-primary);
  color: var(--background-primary);
}
html[data-site=dashboard] button:enabled > i {
  transition: 0.2s all ease;
  color: var(--background-primary);
}
html[data-site=dashboard] button:enabled:hover {
  background-color: var(--typography-primary);
  cursor: pointer;
  color: var(--accent-primary);
}
html[data-site=dashboard] button:enabled:hover > i {
  color: var(--accent-primary);
}
html[data-site=dashboard] button:disabled {
  background-color: var(--accent-secondary);
  color: var(--typography-secondary);
}
html[data-site=dashboard] button:disabled:hover {
  cursor: not-allowed;
}
html[data-site=dashboard] i {
  color: var(--typography-secondary);
}
html[data-site=dashboard] > body {
  background-color: var(--background-secondary);
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr auto;
  display: grid;
  height: 100vh;
}
html[data-site=dashboard] > body .modal {
  background-color: rgba(24, 39, 28, 0.8);
  place-content: center;
  position: absolute;
  display: grid;
  z-index: 999;
  height: 100vh;
  width: 100%;
}
html[data-site=dashboard] > body .modal > div > div {
  background-color: var(--background-secondary);
  flex-direction: column;
  display: flex;
  padding: 2rem;
  width: 320px;
  gap: 2rem;
}
html[data-site=dashboard] > body .modal > div > div > .header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
html[data-site=dashboard] > body .modal > div > div > .header > i {
  transition: 0.2s ease;
}
html[data-site=dashboard] > body .modal > div > div > .header > i:hover {
  cursor: pointer;
  color: var(--accent-primary);
}
html[data-site=dashboard] > body .modal > div > div > form {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
html[data-site=dashboard] > body .modal > div > div > form > div {
  position: relative;
}
html[data-site=dashboard] > body .modal > div > div > form > div > input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  background-color: transparent;
  transition: 0.2s all ease;
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--background-tertiary);
  width: 100%;
  color: var(--typography-primary);
}
html[data-site=dashboard] > body .modal > div > div > form > div > label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  pointer-events: none;
  transition: 0.2s all ease;
  position: absolute;
  padding: 0 0.5rem;
  cursor: text;
  color: var(--typography-secondary);
  left: 0.5rem;
  top: 0.8rem;
}
html[data-site=dashboard] > body .modal > div > div > form > div .input:hover, html[data-site=dashboard] > body .modal > div > div > form > div .input:focus {
  border-color: var(--accent-primary);
  outline: none;
}
html[data-site=dashboard] > body .modal > div > div > form > div .input:hover ~ .label, html[data-site=dashboard] > body .modal > div > div > form > div .input:focus ~ .label {
  color: var(--accent-primary);
}
html[data-site=dashboard] > body .modal > div > div > form > div .input:not(:-moz-placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=dashboard] > body .modal > div > div > form > div .input:focus ~ .label,
html[data-site=dashboard] > body .modal > div > div > form > div .input:not(:placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=dashboard] > body .modal > div > div > form > .actions {
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
html[data-site=dashboard] > body .modal > div > div > form > .actions > button[type=submit] {
  width: 100%;
}
html[data-site=dashboard] > body .modal > div > div > form > .actions > button[type=reset] {
  background-color: var(--warning-primary);
  transition: 0.2s ease;
  padding: 1rem 1rem 1rem 1rem;
}
html[data-site=dashboard] > body .modal > div > div > form > .actions > button[type=reset] > i {
  transition: 0.2s ease;
}
html[data-site=dashboard] > body .modal > div > div > form > .actions > button[type=reset]:hover {
  background-color: var(--warning-secondary);
}
html[data-site=dashboard] > body .modal > div > div > form > .actions > button[type=reset]:hover > i {
  color: var(--typography-primary);
}
html[data-site=dashboard] > body > header {
  background-color: var(--background-primary);
  flex-direction: column;
  display: flex;
}
html[data-site=dashboard] > body > header > .heading {
  justify-content: space-between;
  padding: 2rem 16rem;
  display: flex;
}
html[data-site=dashboard] > body > header > .heading > .info {
  text-align: right;
}
html[data-site=dashboard] > body > header > .heading > .info > h2 {
  color: var(--typography-primary);
}
html[data-site=dashboard] > body > header > nav {
  padding: 0rem 16rem;
  justify-content: space-between;
  display: flex;
}
html[data-site=dashboard] > body > header > nav > .tabs {
  display: flex;
}
html[data-site=dashboard] > body > header > nav > .tabs > div {
  border-bottom: 2px solid transparent;
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > header > nav > .tabs > div > i, html[data-site=dashboard] > body > header > nav > .tabs > div h2 {
  pointer-events: none;
  transition: 0.2s all ease;
  color: var(--typography-secondary);
}
html[data-site=dashboard] > body > header > nav > .tabs > div:hover {
  border-bottom: 2px solid var(--accent-primary);
  cursor: pointer;
}
html[data-site=dashboard] > body > header > nav > .tabs > div:hover > i, html[data-site=dashboard] > body > header > nav > .tabs > div:hover h2 {
  color: var(--accent-primary);
}
html[data-site=dashboard] > body > header > nav > .tabs > .active {
  background-color: var(--accent-secondary);
  border-bottom: 2px solid var(--accent-primary);
}
html[data-site=dashboard] > body > header > nav > .tabs > .active > h2, html[data-site=dashboard] > body > header > nav > .tabs > .active i {
  color: var(--accent-primary);
}
html[data-site=dashboard] > body > header > nav > .actions {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}
html[data-site=dashboard] > body > header > nav > .actions > div {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > header > nav > .actions > div > i, html[data-site=dashboard] > body > header > nav > .actions > div h2 {
  transition: 0.2s all ease;
}
html[data-site=dashboard] > body > header > nav > .actions > div:hover {
  cursor: pointer;
}
html[data-site=dashboard] > body > header > nav > .actions > div:hover > i, html[data-site=dashboard] > body > header > nav > .actions > div:hover h2 {
  color: var(--accent-primary);
}
html[data-site=dashboard] > body > header > nav > .actions > div:last-child:hover {
  cursor: pointer;
}
html[data-site=dashboard] > body > header > nav > .actions > div:last-child:hover > i, html[data-site=dashboard] > body > header > nav > .actions > div:last-child:hover h2 {
  color: var(--warning);
}
html[data-site=dashboard] > body > .overview {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 2rem 16rem;
  gap: 1rem;
}
html[data-site=dashboard] > body > .overview > div {
  flex-direction: column;
  padding: 1.5rem;
  display: flex;
  border: 1px solid var(--background-tertiary);
  gap: 1rem;
}
html[data-site=dashboard] > body > .overview > div > .header {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
html[data-site=dashboard] > body > .overview > div > h1 {
  font-size: 1.25rem;
}
html[data-site=dashboard] > body > .controls {
  grid-template-columns: 1fr auto;
  padding: 0rem 16rem;
  display: grid;
  width: auto;
}
html[data-site=dashboard] > body > .controls > .search {
  align-items: center;
  grid-column: 1;
  display: flex;
  gap: 0rem;
}
html[data-site=dashboard] > body > .controls > .search > .input {
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > .controls > .search > .input > input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  background-color: transparent;
  transition: 0.2s all ease;
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--background-tertiary);
  width: 100%;
  color: var(--typography-primary);
}
html[data-site=dashboard] > body > .controls > .search > .input > label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  pointer-events: none;
  transition: 0.2s all ease;
  position: absolute;
  padding: 0 0.5rem;
  cursor: text;
  color: var(--typography-secondary);
  left: 0.5rem;
  top: 0.8rem;
}
html[data-site=dashboard] > body > .controls > .search > .input .input:hover, html[data-site=dashboard] > body > .controls > .search > .input .input:focus {
  border-color: var(--accent-primary);
  outline: none;
}
html[data-site=dashboard] > body > .controls > .search > .input .input:hover ~ .label, html[data-site=dashboard] > body > .controls > .search > .input .input:focus ~ .label {
  color: var(--accent-primary);
}
html[data-site=dashboard] > body > .controls > .search > .input .input:not(:-moz-placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=dashboard] > body > .controls > .search > .input .input:focus ~ .label,
html[data-site=dashboard] > body > .controls > .search > .input .input:not(:placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=dashboard] > body > .controls > .search > button[type=submit] {
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  height: 100%;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > .controls > .search > button[type=submit] > i, html[data-site=dashboard] > body > .controls > .search > button[type=submit] h2 {
  transition: 0.2s ease;
}
html[data-site=dashboard] > body > .controls > button[type=submit] {
  grid-column: 2;
  margin-left: 1rem;
  padding: 0rem 2rem 0rem 2rem;
  height: 100%;
}
html[data-site=dashboard] > body > .table {
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  min-height: 50vh;
  padding: 2rem 16rem;
  display: grid;
}
html[data-site=dashboard] > body > .table > .pagination {
  justify-content: space-between;
  border-right: 1px solid var(--background-tertiary);
  border-left: 1px solid var(--background-tertiary);
  align-items: center;
  border-top: 1px solid var(--background-tertiary);
  grid-row: 1;
  display: flex;
  padding: 1rem;
}
html[data-site=dashboard] > body > .table > .pagination > .controls {
  align-items: center;
  display: flex;
  gap: 1rem;
}
html[data-site=dashboard] > body > .table > .pagination > .controls > div {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > .table > .pagination > .controls > div > i[aria-disabled=true] {
  cursor: not-allowed;
  color: var(--typography-secondary);
}
html[data-site=dashboard] > body > .table > .pagination > .controls > div > i[aria-disabled=false] {
  transition: 0.2s all ease;
  cursor: pointer;
  color: var(--typography-primary);
}
html[data-site=dashboard] > body > .table > .pagination > .controls > div > i[aria-disabled=false]:hover {
  color: var(--accent-primary);
}
html[data-site=dashboard] > body > .table > .pagination > .controls > h3 {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > .table > .pagination > .controls > h3 > input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  background-color: transparent;
  transition: 0.2s all ease;
  align-self: flex-start;
  padding: 0.25rem 0.25rem;
  text-align: center;
  border: 1px solid var(--background-tertiary);
  color: var(--typography-primary);
  width: 2rem;
}
html[data-site=dashboard] > body > .table > .pagination > .controls > h3 > input:hover, html[data-site=dashboard] > body > .table > .pagination > .controls > h3 > input:focus {
  border-color: var(--accent-primary);
  outline: none;
}
html[data-site=dashboard] > body > .table > .data {
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  min-height: 0;
  display: grid;
  height: 100%;
  border: 1px solid var(--background-tertiary);
}
html[data-site=dashboard] > body > .table > .data > .headers {
  grid-template-rows: 100%;
  border-bottom: 1px solid var(--background-tertiary);
  padding-right: 2rem;
  border-right: 1px solid var(--background-tertiary);
  border-left: 1px solid var(--background-tertiary);
  align-items: center;
  grid-row: 2;
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
html[data-site=dashboard] > body > .table > .data > .headers > div {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
html[data-site=dashboard] > body > .table > .data > .headers > div > i {
  transition: 0.2s ease;
  color: var(--typography-primary);
}
html[data-site=dashboard] > body > .table > .data > .headers > div > div > h2 {
  pointer-events: none;
  transition: 0.2s all ease;
  color: var(--typography-primary);
}
html[data-site=dashboard] > body > .table > .data > .headers > div > div > h3 {
  pointer-events: none;
  transition: 0.2s ease;
}
html[data-site=dashboard] > body > .table > .data > .headers > .warning {
  font-size: 1.25rem;
}
html[data-site=dashboard] > body > .table > .data > .headers > .actions {
  margin-right: 1vw;
}
html[data-site=dashboard] > body > .table > .data > .headers > .warning, html[data-site=dashboard] > body > .table > .data > .headers .actions {
  align-items: center;
  visibility: hidden;
  display: flex;
  gap: 1rem;
}
html[data-site=dashboard] > body > .table > .data > .entries {
  overflow-y: scroll;
  grid-row: 3;
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry {
  grid-template-rows: 100%;
  border-bottom: 1px solid var(--background-tertiary);
  align-items: center;
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry > div {
  flex-direction: column;
  display: flex;
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry > div > h2, html[data-site=dashboard] > body > .table > .data > .entries > .entry > div h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry > .warning {
  font-size: 1.25rem;
  color: var(--warning);
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry > .actions {
  flex-direction: row;
  align-items: center;
  display: flex;
  width: auto;
  gap: 1rem;
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry > .actions > i {
  transition: 0.2s all ease;
}
html[data-site=dashboard] > body > .table > .data > .entries > .entry > .actions > i:hover {
  cursor: pointer;
  color: var(--accent-primary);
}
html[data-site=dashboard] > body > .table[data-tab=dashboard] > .data > .headers, html[data-site=dashboard] > body > .table[data-tab=dashboard] .entries > .entry {
  grid-template-columns: auto repeat(7, minmax(0, 1fr)) auto;
}
html[data-site=dashboard] > body > .table[data-tab=users] > .data > .headers, html[data-site=dashboard] > body > .table[data-tab=users] .entries > .entry {
  grid-template-columns: auto repeat(5, minmax(0, 1fr)) auto;
}
html[data-site=dashboard] > body > .table[data-tab=inventory] > .data > .headers, html[data-site=dashboard] > body > .table[data-tab=inventory] .entries > .entry,
html[data-site=dashboard] > body .table[data-tab=students] > .data > .headers,
html[data-site=dashboard] > body .table[data-tab=students] .entries > .entry,
html[data-site=dashboard] > body .table[data-tab=studentDashboard] > .data > .headers,
html[data-site=dashboard] > body .table[data-tab=studentDashboard] .entries > .entry {
  grid-template-columns: auto repeat(6, minmax(0, 1fr)) auto;
}
html[data-site=dashboard] > body > footer {
  justify-content: space-between;
  display: flex;
  padding: 0rem 16rem 2rem 16rem;
}

@media only screen and (max-width: 1700px) {
  html[data-site=dashboard] > body > header > .heading {
    padding: 2rem 8rem;
  }
  html[data-site=dashboard] > body > header > nav {
    padding: 0rem 8rem;
  }
  html[data-site=dashboard] > body > .overview {
    padding: 2rem 8rem;
  }
  html[data-site=dashboard] > body > .controls {
    padding: 0rem 8rem;
  }
  html[data-site=dashboard] > body > footer {
    padding: 0rem 8rem 2rem 8rem;
  }
  html[data-site=dashboard] > body > .table {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 1480px) {
  html[data-site=dashboard] > body > header > .heading {
    padding: 2rem 4rem;
  }
  html[data-site=dashboard] > body > header > nav {
    padding: 0rem 4rem;
  }
  html[data-site=dashboard] > body > .overview {
    padding: 2rem 4rem;
  }
  html[data-site=dashboard] > body > .controls {
    padding: 0rem 4rem;
  }
  html[data-site=dashboard] > body > footer {
    padding: 0rem 4rem 2rem 4rem;
  }
  html[data-site=dashboard] > body > .table {
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 1300px) {
  html[data-site=dashboard] > body > header > nav > .actions > div > h2 {
    display: none;
  }
  html[data-site=dashboard] > body > header > .heading {
    padding: 2rem 2rem;
  }
  html[data-site=dashboard] > body > header > nav {
    padding: 0rem 2rem;
  }
  html[data-site=dashboard] > body > .overview {
    padding: 2rem 2rem;
  }
  html[data-site=dashboard] > body > .controls {
    padding: 0rem 2rem;
  }
  html[data-site=dashboard] > body > footer {
    padding: 0rem 2rem 2rem 2rem;
  }
  html[data-site=dashboard] > body > .table {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  html[data-site=dashboard] > body > header > nav > .tabs > div > h2 {
    display: none;
  }
  html[data-site=dashboard] > body > header > .heading {
    padding: 1rem 1rem;
  }
  html[data-site=dashboard] > body > header > nav {
    padding: 0rem 1rem;
  }
  html[data-site=dashboard] > body > .overview {
    flex-direction: column;
    padding: 1rem 1rem;
    display: flex;
  }
  html[data-site=dashboard] > body > .controls {
    padding: 0rem 1rem;
  }
  html[data-site=dashboard] > body > footer {
    padding: 0rem 1rem 1rem 1rem;
  }
  html[data-site=dashboard] > body > .table {
    padding: 1rem 1rem;
  }
}
@media only screen and (max-width: 640px) {
  html[data-site=dashboard] > body > header > .heading {
    flex-direction: column;
    gap: 2rem;
  }
  html[data-site=dashboard] > body > header > .heading > .info {
    text-align: left;
  }
}
html[data-site=login] h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--typography-primary);
}
html[data-site=login] h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--typography-secondary);
}
html[data-site=login] h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
}
html[data-site=login] h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.625rem;
  color: var(--typography-secondary);
}
html[data-site=login] a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  transition: 0.2s all ease;
}
html[data-site=login] a:hover {
  color: var(--accent-primary);
}
html[data-site=login] button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--typography-secondary);
  background-color: transparent;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 2rem;
  display: flex;
  gap: 0.5rem;
  transition: 0.2s all ease;
  border: none;
}
html[data-site=login] button:enabled {
  background-color: var(--accent-primary);
  color: var(--background-primary);
}
html[data-site=login] button:enabled > i {
  transition: 0.2s all ease;
  color: var(--background-primary);
}
html[data-site=login] button:enabled:hover {
  background-color: var(--typography-primary);
  cursor: pointer;
  color: var(--accent-primary);
}
html[data-site=login] button:enabled:hover > i {
  color: var(--accent-primary);
}
html[data-site=login] button:disabled {
  background-color: var(--accent-secondary);
  color: var(--typography-secondary);
}
html[data-site=login] button:disabled:hover {
  cursor: not-allowed;
}
html[data-site=login] i {
  color: var(--typography-secondary);
}
html[data-site=login] > body {
  background-repeat: no-repeat;
  background-image: url("/static/assets/images/login_background.webp");
  background-color: var(--background-secondary);
  background-size: cover;
  place-items: center;
  display: grid;
  height: 100vh;
  width: 100vw;
}
html[data-site=login] > body > .modal {
  background-color: var(--background-secondary);
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  display: flex;
  width: 20rem;
  gap: 2rem;
}
html[data-site=login] > body > .modal > .header {
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  display: flex;
}
html[data-site=login] > body > .modal > .header > i {
  transition: 0.2s all ease;
  font-size: 1.25rem;
}
html[data-site=login] > body > .modal > .header > i:hover {
  cursor: pointer;
  color: var(--accent-primary);
}
html[data-site=login] > body > .modal > .warning {
  align-items: center;
  align-self: stretch;
  padding: 0.5rem;
  display: flex;
  border: 1px solid var(--background-tertiary);
  gap: 0.5rem;
}
html[data-site=login] > body > .modal > .warning > i {
  font-size: 1rem;
  color: var(--warning);
}
html[data-site=login] > body > .modal > .warning > .text {
  flex-direction: column;
  display: flex;
}
html[data-site=login] > body > .modal > .warning > .text > h3 {
  color: var(--typography-primary);
}
html[data-site=login] > body > .modal > form {
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 2rem;
}
html[data-site=login] > body > .modal > form > .inputs {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
}
html[data-site=login] > body > .modal > form > .inputs > .username, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber {
  position: relative;
}
html[data-site=login] > body > .modal > form > .inputs > .username > input, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber > input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  background-color: transparent;
  transition: 0.2s all ease;
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--background-tertiary);
  width: 100%;
  color: var(--typography-primary);
}
html[data-site=login] > body > .modal > form > .inputs > .username > label, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber > label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  pointer-events: none;
  transition: 0.2s all ease;
  position: absolute;
  padding: 0 0.5rem;
  cursor: text;
  color: var(--typography-secondary);
  left: 0.5rem;
  top: 0.8rem;
}
html[data-site=login] > body > .modal > form > .inputs > .username .input:hover, html[data-site=login] > body > .modal > form > .inputs > .username .input:focus, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:hover, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:focus {
  border-color: var(--accent-primary);
  outline: none;
}
html[data-site=login] > body > .modal > form > .inputs > .username .input:hover ~ .label, html[data-site=login] > body > .modal > form > .inputs > .username .input:focus ~ .label, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:hover ~ .label, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:focus ~ .label {
  color: var(--accent-primary);
}
html[data-site=login] > body > .modal > form > .inputs > .username .input:not(:-moz-placeholder-shown).input:not(:focus) ~ .label, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:not(:-moz-placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=login] > body > .modal > form > .inputs > .username .input:focus ~ .label,
html[data-site=login] > body > .modal > form > .inputs > .username .input:not(:placeholder-shown).input:not(:focus) ~ .label, html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:focus ~ .label,
html[data-site=login] > body > .modal > form > .inputs > .phoneNumber .input:not(:placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=login] > body > .modal > form > .inputs > .password {
  flex-direction: column;
  display: flex;
  gap: 0.25rem;
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container {
  position: relative;
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container > input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  background-color: transparent;
  transition: 0.2s all ease;
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--background-tertiary);
  width: 100%;
  color: var(--typography-primary);
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container > label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  pointer-events: none;
  transition: 0.2s all ease;
  position: absolute;
  padding: 0 0.5rem;
  cursor: text;
  color: var(--typography-secondary);
  left: 0.5rem;
  top: 0.8rem;
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:hover, html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:focus {
  border-color: var(--accent-primary);
  outline: none;
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:hover ~ .label, html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:focus ~ .label {
  color: var(--accent-primary);
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:not(:-moz-placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:focus ~ .label,
html[data-site=login] > body > .modal > form > .inputs > .password > .container .input:not(:placeholder-shown).input:not(:focus) ~ .label {
  background-color: var(--background-secondary);
  font-size: 0.65rem;
  left: 0.5rem;
  top: -0.5rem;
}
html[data-site=login] > body > .modal > form > .actions {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 0.25rem;
}
html[data-site=login] > body > .modal > form > .actions > button {
  width: 100%;
}

html[data-site=error] h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--typography-primary);
}
html[data-site=error] h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--typography-secondary);
}
html[data-site=error] h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
}
html[data-site=error] h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.625rem;
  color: var(--typography-secondary);
}
html[data-site=error] a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--typography-secondary);
  transition: 0.2s all ease;
}
html[data-site=error] a:hover {
  color: var(--accent-primary);
}
html[data-site=error] button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--typography-secondary);
  background-color: transparent;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 2rem;
  display: flex;
  gap: 0.5rem;
  transition: 0.2s all ease;
  border: none;
}
html[data-site=error] button:enabled {
  background-color: var(--accent-primary);
  color: var(--background-primary);
}
html[data-site=error] button:enabled > i {
  transition: 0.2s all ease;
  color: var(--background-primary);
}
html[data-site=error] button:enabled:hover {
  background-color: var(--typography-primary);
  cursor: pointer;
  color: var(--accent-primary);
}
html[data-site=error] button:enabled:hover > i {
  color: var(--accent-primary);
}
html[data-site=error] button:disabled {
  background-color: var(--accent-secondary);
  color: var(--typography-secondary);
}
html[data-site=error] button:disabled:hover {
  cursor: not-allowed;
}
html[data-site=error] i {
  color: var(--typography-secondary);
}
html[data-site=error] > body {
  background-repeat: no-repeat;
  background-image: url("/static/assets/images/login_background.webp");
  background-color: var(--background-secondary);
  background-size: cover;
  place-items: center;
  display: grid;
  height: 100vh;
  width: 100vw;
}
html[data-site=error] > body > .modal {
  background-color: var(--background-secondary);
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  display: flex;
  width: 20rem;
  gap: 2rem;
}
html[data-site=error] > body > .modal > i {
  font-size: 4rem;
  color: var(--warning);
}
html[data-site=error] > body > .modal > .error {
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  gap: 0.25rem;
}
html[data-site=error] > body > .modal > .error > .heading {
  flex-direction: column;
  display: flex;
  gap: 0rem;
}/*# sourceMappingURL=index.css.map */