/* source-sans-pro-300 - latin */
@import url(/node_modules/@fortawesome/fontawesome-free/css/all.css);
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-300.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-300.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.svg#SourceSansPro") format("svg");
}
/* source-sans-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-regular.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro") format("svg");
}
/* source-sans-pro-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-600.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-600.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.svg#SourceSansPro") format("svg");
}
/* source-sans-pro-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-700.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.svg#SourceSansPro") format("svg");
}
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 4px;
  transition: 0.2s ease;
  padding: 16px;
  border: 0;
  color: #F6F6F6;
  width: 100%;
}
button:enabled {
  background-color: #0B3612;
}
button:enabled:hover {
  background-color: #347542;
  cursor: pointer;
}
button:disabled {
  background-color: rgba(11, 54, 18, 0.5);
}
button:disabled:hover {
  cursor: not-allowed;
}

input {
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}
input:focus {
  outline: 1px solid #347542;
}

a {
  text-decoration: none;
}

.login {
  background-repeat: no-repeat;
  background-image: url("/static/assets/images/login_background.webp");
  background-color: #E0E0E0;
  background-size: cover;
  place-items: center;
  display: grid;
  height: 100vh;
  width: 100vw;
}
.login-modal {
  background-color: #F0F0F0;
  flex-direction: column;
  border-radius: 4px;
  padding: 48px;
  display: flex;
  width: 360px;
  gap: 48px;
}
.login-modal-header {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: #0B3612;
}
.login-modal-error {
  background-color: #FFCBCB;
  border-radius: 4px;
  overflow: auto;
  padding: 16px;
  border: 1px solid #FF6B6B;
}
.login-modal-error p {
  font-weight: 400;
  font-size: 12px;
}
.login-modal-form {
  flex-direction: column;
  display: flex;
  gap: 48px;
}
.login-modal-form-container {
  flex-direction: column;
  display: flex;
  gap: 16px;
}
.login-modal-form-username, .login-modal-form-password {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.login-modal-form-username > label, .login-modal-form-password > label {
  font-weight: 400;
  font-size: 12px;
  color: #0B3612;
}
.login-modal-form-cta {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 8px;
}
.login-modal-form-cta > a {
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s ease;
  font-size: 12px;
  color: #0B3612;
}
.login-modal-form-cta > a:hover {
  color: #347542;
}

.staff {
  grid-template-columns: 256px auto;
  grid-template-rows: 100vh;
  background-color: #E0E0E0;
  display: grid;
}
.staff-sidebar {
  background-color: #F0F0F0;
  flex-direction: column;
  display: flex;
  padding: 24px;
  gap: 48px;
}
.staff-sidebar-header {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 16px;
}
.staff-sidebar-header > img {
  height: 176px;
}
.staff-sidebar-header > h1 {
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  color: #0B3612;
}
.staff-sidebar-links {
  flex-direction: column;
  display: flex;
  gap: 16px;
}
.staff-sidebar-links > div {
  flex-direction: column;
  display: flex;
}
.staff-sidebar-links > div > label {
  font-weight: 400;
  font-size: 12px;
  color: #347542;
}
.staff-sidebar-links > div > a {
  border-left: 4px solid transparent;
  font-weight: 400;
  transition: 0.2s ease;
  font-size: 16px;
  align-items: center;
  display: flex;
  padding: 16px;
  color: #0B3612;
  gap: 8px;
}
.staff-sidebar-links > div > a:hover {
  border-left: 4px solid #347542;
  color: #347542;
}
.staff-sidebar-links > div > a > i {
  font-size: 16px;
}
.staff-sidebar-links > div .active {
  border-left: 4px solid #0B3612;
}
.staff-sidebar-spacer {
  flex-grow: 1;
  display: flex;
}
.staff-sidebar-footer {
  align-items: center;
}
.staff-sidebar-footer > a {
  font-weight: 400;
  transition: 0.2s ease;
  font-size: 16px;
  align-items: center;
  display: flex;
  color: #0B3612;
  gap: 8px;
}
.staff-sidebar-footer > a:hover {
  color: #347542;
}
.staff-dashboard {
  grid-template-columns: 100%;
  grid-template-rows: 64px auto 64px;
  display: grid;
  padding: 48px;
  gap: 16px;
}
.staff-dashboard-header {
  background-color: #F0F0F0;
  border-radius: 4px;
  align-content: center;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  padding: 24px;
}
.staff-dashboard-header-left {
  grid-column: 1;
  align-items: center;
  display: flex;
}
.staff-dashboard-header-left > h2 {
  font-weight: 600;
  font-size: 16px;
  color: #0B3612;
}
.staff-dashboard-header-right {
  justify-content: flex-end;
  grid-column: 2;
  align-items: center;
  display: flex;
  gap: 16px;
}
.staff-dashboard-header-right > i {
  transition: 0.2s ease;
  font-size: 16px;
  color: #131313;
}
.staff-dashboard-header-right > i:last-child {
  font-size: 24px;
}
.staff-dashboard-header-right > i:hover {
  cursor: pointer;
  color: #347542;
}
.staff-dashboard-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  display: grid;
  gap: 16px;
}
.staff-dashboard-container > .staff-dashboard-overview {
  background-color: #F0F0F0;
  border-radius: 4px;
  grid-column: 1/4;
  grid-row: 1;
}
.staff-dashboard-container > .staff-dashboard-overview > .staff-dashboard-overview-entries {
  grid-template-columns: auto auto auto auto;
  display: grid;
  height: 100%;
  gap: 8px;
  padding: 0px 16px 16px 16px;
}
.staff-dashboard-container > .staff-dashboard-overview > .staff-dashboard-overview-entries > div {
  flex-direction: column;
  padding: 16px;
  border: 1px solid #E0E0E0;
  display: flex;
}
.staff-dashboard-container > .staff-dashboard-overview > .staff-dashboard-overview-entries > div > label {
  font-size: 16px;
}
.staff-dashboard-container > .staff-dashboard-overview > .staff-dashboard-overview-entries > div > div {
  justify-content: flex-end;
  flex-direction: column;
  line-height: 16px;
  height: 100%;
  display: flex;
  gap: 4px;
}
.staff-dashboard-container > .staff-dashboard-overview > .staff-dashboard-overview-entries > div > div > h2 {
  font-weight: 600;
  font-size: 24px;
}
.staff-dashboard-container > .staff-dashboard-overview > .staff-dashboard-overview-entries > div > div > h3 {
  font-weight: 400;
  font-size: 12px;
}
.staff-dashboard-container > .staff-dashboard-notifications {
  background-color: #F0F0F0;
  border-radius: 4px;
  grid-column: 1/2;
  grid-row: 2;
}
.staff-dashboard-container > .staff-dashboard-availability {
  background-color: #F0F0F0;
  border-radius: 4px;
  grid-column: 2/3;
  grid-row: 2;
}
.staff-dashboard-container > .staff-dashboard-borrowed {
  background-color: #F0F0F0;
  border-radius: 4px;
  grid-column: 3/4;
  grid-row: 2;
}
.staff-dashboard-container > div {
  flex-direction: column;
  display: flex;
}
.staff-dashboard-container > div > label {
  font-weight: 600;
  padding: 16px;
  color: #0B3612;
}
.staff-dashboard-footer {
  background-color: #F0F0F0;
  border-radius: 4px;
  align-content: center;
  grid-column: 1;
  grid-row: 3;
  padding: 24px;
  display: grid;
}
.staff-dashboard-footer-left {
  grid-column: 1;
  align-items: center;
  display: flex;
}
.staff-dashboard-footer-left > p {
  font-weight: 400;
  font-size: 12px;
  color: #131313;
}
.staff-dashboard-footer-right {
  justify-content: flex-end;
  grid-column: 2;
  align-items: center;
  display: flex;
}
.staff-dashboard-footer-right > p {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  color: #131313;
  gap: 4px;
}
.staff-dashboard-footer-right > p > .copyright {
  font-size: 16px;
}
.staff-dashboard-footer-right > p > a {
  align-items: baseline;
  transition: 0.2s ease;
  display: flex;
  color: #131313;
  gap: 4px;
}
.staff-dashboard-footer-right > p > a > i {
  font-size: 10px;
}
.staff-dashboard-footer-right > p > a:hover {
  color: #347542;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */