/* source-sans-pro-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-300.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-300.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-300.svg#SourceSansPro") format("svg");
}
/* source-sans-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-regular.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro") format("svg");
}
/* source-sans-pro-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-600.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-600.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-600.svg#SourceSansPro") format("svg");
}
/* source-sans-pro-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-700.eot");
  src: url("/static/assets/fonts/source-sans-pro-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.woff2") format("woff2"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.woff") format("woff"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.ttf") format("truetype"), url("/static/assets/fonts/source-sans-pro-v21-latin-700.svg#SourceSansPro") format("svg");
}
* {
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.2s ease !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 4px;
  transition: 0.2s ease;
  padding: 16px;
  border: 0;
  color: #F6F6F6;
  width: 100%;
}
button:enabled {
  background-color: #0B3612;
}
button:enabled:hover {
  background-color: #347542;
  cursor: pointer;
}
button:disabled {
  background-color: rgba(11, 54, 18, 0.5);
}
button:disabled:hover {
  cursor: not-allowed;
}

input {
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}
input:focus {
  outline: 1px solid #347542;
}

.login {
  background-repeat: no-repeat;
  background-image: url("/static/assets/images/login_background.webp");
  background-size: cover;
  place-items: center;
  display: grid;
  height: 100vh;
  width: 100vw;
}
.login-modal {
  background-color: #F0F0F0;
  flex-direction: column;
  border-radius: 4px;
  padding: 48px;
  display: flex;
  width: 360px;
  gap: 48px;
}
.login-modal-header {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  color: #0B3612;
}
.login-modal-error {
  background-color: #FFCBCB;
  border-radius: 4px;
  overflow: auto;
  padding: 12px;
  border: 1px solid #FF6B6B;
}
.login-modal-error p {
  font-weight: 400;
  font-size: 12px;
}
.login-modal-form {
  flex-direction: column;
  display: flex;
  gap: 48px;
}
.login-modal-form-container {
  flex-direction: column;
  display: flex;
  gap: 16px;
}
.login-modal-form-username, .login-modal-form-password {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.login-modal-form-username > label, .login-modal-form-password > label {
  font-weight: 400;
  font-size: 12px;
  color: #0B3612;
}
.login-modal-form-cta {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 8px;
}
.login-modal-form-cta > a {
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s ease;
  font-size: 12px;
  color: #0B3612;
}
.login-modal-form-cta > a:hover {
  color: #347542;
}/*# sourceMappingURL=index.css.map */