<!DOCTYPE html>

<html lang="en" data-site="dashboard">

    <head>
    
        <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">
        <title>ABTIS Personnel | Dashboard</title>
    
    </head>
    
    <body>

        <header>

            <div class="heading">

                <div class="text">

                    <h1>Automated Book Tracking & Inventory System</h1>
                    <h2>FEU Roosevelt Library Dashboard</h2>

                </div>

                <div class="info">

                    <h2>Good afternoon, <span class="name">John Doe</span></h2>
                    <h3>FEU Roosevelt <span class="role">Guest</h3>

                </div>

            </div>

            <nav>

                <div class="tabs">

                    <div class="dashboard active">

                        <i class="fa-regular fa-chart-line"></i>
                        <h2>Dashboard</h2>

                    </div>

                    <div class="inventory">

                        <i class="fa-regular fa-box-archive"></i>
                        <h2>Inventory</h2>

                    </div>

                    <div class="students">

                        <i class="fa-regular fa-user-graduate"></i>
                        <h2>Students</h2>

                    </div>

                    <div class="users">

                        <i class="fa-regular fa-user-group"></i>
                        <h2>Users</h2>

                    </div>

                </div>

                <div class="actions">

                    <div class="themeSwitch">
                        
                        <i class="fa-regular fa-moon"></i>
                        <h2>Dark mode</h2>
                    
                    </div>
                    
                    <div class="logout">

                        <i class="fa-regular fa-right-from-bracket"></i>
                        <h2>Logout</h2>

                    </div>

                </div>

            </nav>

        </header>
    
        <main data-tab="dashboard">

            <div class="overview">

                <div class="registered">

                    <div class="header">

                        <h2>Registered</h2>

                    </div>

                    <h1><span class="count">0</span> students</h1>

                </div>

                <div class="available">

                    <div class="header">

                        <h2>Available</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> books</h3>

                    </div>

                    <h1><span class="count">0</span> books</h1>

                </div>

                <div class="unavailable">

                    <div class="header">

                        <h2>Unavailable</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> books</h3>

                    </div>

                    <h1><span class="count">0</span> books</h1>

                </div>

            </div>

            <div class="table">

                <div class="controls">

                    <div class="filter">

                        <i class="fa-regular fa-filter"></i>

                        <div class="container">

                            <h2>Filters</h2>
                            <i class="fa-regular fa-angle-down"></i>

                        </div>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-redo"></i>

                        <div class="search">

                            <input type="text" class="input" placeholder=" ">
                            <label for="search" class="label">Search</label>

                            <i aria-disabled="true" class="submit fa-regular fa-magnifying-glass"></i>

                        </div>


                    </div>

                </div>

                <div class="data">

                    <div class="pagination">

                        <h3>Showing <span class="currentCount">0</span> of <span class="maxCount">0</span> books</h3>

                        <div class="controls">

                            <div class="previous">

                                <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                                <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                            </div>

                            <h3>Showing page <input type="text"> of <span class="maxPage">0</span></h3>

                            <div class="forward">

                                <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                                <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                            </div>


                        </div>

                    </div>

                    <div class="headers">

                        <i class="warning fa-regular fa-triangle-exclamation"></i>

                        <div class="title">
                            
                            <h2>Title</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="status">
                            
                            <h2>Status</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="borrower">
                            
                            <h2>Borrower</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="borrowDate">
                            
                            <h2>Borrow Date</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="dueDate">
                            
                            <h2>Due Date</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="publicationDate">

                            <h2>Publication Date</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="acquisitionDate">
                            
                            <h2>Acquisition Date</h2>
                            <i class="fa-solid fa-caret-down"></i>
                            
                        </div>

                        <div class="actions">

                            <i class="fa-regular fa-message"></i>
                            <i class="fa-regular fa-pen-to-square"></i>

                        </div>

                    </div>
                    
                    <div class="entries"></div>

                </div>

            </div>

            <footer>

                <h3>© 2023 ABTIS All rights reserved.</h3>
                <h3>English</h3>

            </footer>

        </main>
    
        <main data-tab="inventory" style="display: none;">

            <div class="overview">

                <div class="available">

                    <div class="header">

                        <h2>Available</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> books</h3>

                    </div>

                    <h1><span class="count">0</span> books</h1>

                </div>

                <div class="borrowed">

                    <div class="header">

                        <h2>Borrowed</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> books</h3>

                    </div>

                    <h1><span class="count">0</span> books</h1>

                </div>

                <div class="pastDue">

                    <div class="header">

                        <h2>Past Due</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> books</h3>

                    </div>

                    <h1><span class="count">0</span> books</h1>

                </div>

            </div>

            <div class="table">

                <div class="controls">

                    <div class="filter">

                        <i class="fa-regular fa-filter"></i>

                        <div class="container">

                            <h2>Filters</h2>
                            <i class="fa-regular fa-angle-down"></i>

                        </div>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-redo"></i>

                        <div class="search">

                            <input type="text" class="input" placeholder=" ">
                            <label for="search" class="label">Search</label>

                            <i aria-disabled="true" class="submit fa-regular fa-magnifying-glass"></i>

                        </div>

                        <button>
                            <i class="fa-regular fa-plus"></i>
                            Register a book
                        </button>

                    </div>

                </div>

                <div class="data">

                    <div class="pagination">

                        <h3>Showing 0 of 0 books</h3>

                        <div class="controls">

                            <div class="previous">

                                <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                                <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                            </div>

                            <h3>Showing page <input type="text"> of 0</h3>

                            <div class="forward">

                                <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                                <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                            </div>


                        </div>

                    </div>

                    <div class="headers">

                        <i class="warning fa-regular fa-triangle-exclamation"></i>

                        <div class="title">
                            
                            <h2>Title</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="status">
                            
                            <h2>Status</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="author">
                            
                            <h2>Author</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="genre">
                            
                            <h2>Genre</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="publicationDate">

                            <h2>Publication Date</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="acquisitionDate">
                            
                            <h2>Acquisition Date</h2>
                            <i class="fa-solid fa-caret-down"></i>
                            
                        </div>

                        <div class="actions">

                            <i class="fa-regular fa-arrow-right-from-arc"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-xmark"></i>

                        </div>

                    </div>
                    
                    <div class="entries">

                        <div class="entry">
                            
                            <i class="warning fa-solid fa-triangle-exclamation"></i>
    
                            <div class="title">
                            
                                <h2>The Great Gatsby</h2>
    
                            </div>
    
                            <div class="status">
                                
                                <h2>Unavailable</h2>
                                <h3>Past Due</h3>

                            </div>
    
                            <div class="author">
                                
                                <h2>Fitzgerald, F. Scott</h2>
                                
                            </div>
    
                            <div class="genre">
                                
                                <h2>Tragedy</h2>
    
                            </div>
    
                            <div class="publicationDate">
    
                                <h2>10 April 1925</h2>
    
                            </div>
    
                            <div class="acquisitionDate">
                                
                                <h2>05 August 2021</h2>
                                
                            </div>
    
                            <div class="actions">
    
                                <i class="fa-regular fa-arrow-right-from-arc"></i>
                                <i class="fa-regular fa-pen-to-square"></i>
                                <i class="fa-regular fa-xmark"></i>
    
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <footer>

                <h3>© 2023 ABTIS All rights reserved.</h3>
                <h3>English</h3>

            </footer>

        </main>

        <main data-tab="students" style="display: none;">

            <div class="overview">

                <div class="vacant">

                    <div class="header">

                        <h2>Vacant</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> students</h3>

                    </div>

                    <h1><span class="count">0</span> students</h1>

                </div>

                <div class="borrower">

                    <div class="header">

                        <h2>Borrower</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> students</h3>

                    </div>

                    <h1><span class="count">0</span> students</h1>

                </div>

                <div class="pastDue">

                    <div class="header">

                        <h2>Past Due</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> students</h3>
                    </div>

                    <h1><span class="count">0</span> students</h1>

                </div>

            </div>

            <div class="table">

                <div class="controls">

                    <div class="filter">

                        <i class="fa-regular fa-filter"></i>

                        <div class="container">

                            <h2>Filters</h2>
                            <i class="fa-regular fa-angle-down"></i>

                        </div>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-redo"></i>

                        <div class="search">

                            <input type="text" class="input" placeholder=" ">
                            <label for="search" class="label">Search</label>

                            <i aria-disabled="true" class="submit fa-regular fa-magnifying-glass"></i>

                        </div>

                        <button>
                            <i class="fa-regular fa-plus"></i>
                            Register a student
                        </button>

                    </div>

                </div>

                <div class="data">

                    <div class="pagination">

                        <h3>Showing 0 of 0 books</h3>

                        <div class="controls">

                            <div class="previous">

                                <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                                <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                            </div>

                            <h3>Showing page <input type="text"> of 0</h3>

                            <div class="forward">

                                <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                                <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                            </div>


                        </div>

                    </div>

                    <div class="headers">

                        <i class="warning fa-regular fa-triangle-exclamation"></i>

                        <div class="name">
                            
                            <h2>Name</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="studentNumber">
                            
                            <h2>Student number</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="status">
                            
                            <h2>Status</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="borrowedBook">
                            
                            <h2>Borrowed book</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="phoneNumber">
                            
                            <h2>Phone number</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="emailAddress">

                            <h2>Email address</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="actions">

                            <i class="fa-regular fa-message"></i>
                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-xmark"></i>

                        </div>

                    </div>
                    
                    <div class="entries">

                        <div class="entry">
                            
                            <i class="warning fa-solid fa-triangle-exclamation"></i>
    
                            <div class="name">
                            
                                <h2>Tan, Raphael Edrian</h2>
    
                            </div>
    
                            <div class="studentNumber">
                                
                                <h2>R20220071287</h2>
    
                            </div>
    
                            <div class="status">
                                
                                <h2>Borrower</h2>
    
                            </div>
    
                            <div class="borrowedBook">
                                
                                <h2>The Great Gatsby</h2>
    
                            </div>
    
                            <div class="phoneNumber">
                                
                                <h2>09612876531</h2>
    
                            </div>
    
                            <div class="emailAddress">
    
                                <h2>R20220134679</h2>
                                <h3>@feuroosevelt.edu.ph</h3>
    
                            </div>
    
                            <div class="actions">
    
                                <i class="fa-regular fa-message"></i>
                                <i class="fa-regular fa-pen-to-square"></i>
                                <i class="fa-regular fa-xmark"></i>
    
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <footer>

                <h3>© 2023 ABTIS All rights reserved.</h3>
                <h3>English</h3>

            </footer>

        </main>

        <main data-tab="users" style="display: none;">

            <div class="overview">

                <div class="personnel">

                    <div class="header">

                        <h2>Personnel</h2>

                    </div>

                    <h1><span class="count">0</span> accounts</h1>

                </div>

                <div class="it">

                    <div class="header">

                        <h2>IT</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> accounts</h3>

                    </div>

                    <h1><span class="count">0</span> personnel</h1>

                </div>

                <div class="librarian">

                    <div class="header">

                        <h2>Librarian</h2>
                        <h3><span class="percentage">0</span>% of <span class="count">0</span> accounts</h3>

                    </div>

                    <h1><span class="count">0</span> personnel</h1>

                </div>

            </div>

            <div class="table">

                <div class="controls">

                    <div class="filter">

                        <i class="fa-regular fa-filter"></i>

                        <div class="container">

                            <h2>Filters</h2>
                            <i class="fa-regular fa-angle-down"></i>

                        </div>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-redo"></i>

                        <div class="search">

                            <input type="text" class="input" placeholder=" ">
                            <label for="search" class="label">Search</label>

                            <i aria-disabled="true" class="submit fa-regular fa-magnifying-glass"></i>

                        </div>

                        <button>
                            <i class="fa-regular fa-plus"></i>
                            Add an account
                        </button>

                    </div>

                </div>

                <div class="data">

                    <div class="pagination">

                        <h3>Showing 0 of 0 books</h3>

                        <div class="controls">

                            <div class="previous">

                                <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                                <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                            </div>

                            <h3>Showing page <input type="text"> of 0</h3>

                            <div class="forward">

                                <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                                <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                            </div>


                        </div>

                    </div>

                    <div class="headers">

                        <i class="warning fa-regular fa-triangle-exclamation"></i>

                        <div class="username">
                            
                            <h2>Username</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="role">
                            
                            <h2>Role</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="password">
                            
                            <h2>Password</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="privilege">
                            
                            <h2>Privilege</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="emailAddress">
                            
                            <h2>Email address</h2>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>

                        <div class="actions">

                            <i class="fa-regular fa-pen-to-square"></i>
                            <i class="fa-regular fa-xmark"></i>

                        </div>

                    </div>
                    
                    <div class="entries">

                        <div class="entry">
                            
                            <i class="warning fa-solid fa-triangle-exclamation"></i>
    
                            <div class="username">
                            
                                <h2>brian</h2>
    
                            </div>
    
                            <div class="role">
                                
                                <h2>IT personnel</h2>
    
                            </div>
    
                            <div class="password">
                                
                                <h2>$2y$16$dLMdiOrCm79PgF9iK4M3Le0bfyJNO1Ql/W4bC54ZwjBIew4kK2hiy</h2>
    
                            </div>
    
                            <div class="privilege">
                                
                                <h2>Dashboard, Inventory, Students, Users</h2>
    
                            </div>
    
                            <div class="emailAddress">
                                
                                <h2>brian</h2>
                                <h3>@feuroosevelt.edu.ph</h3>
    
                            </div>
    
                            <div class="actions">
    
                                <i class="fa-regular fa-pen-to-square"></i>
                                <i class="fa-regular fa-xmark"></i>
    
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <footer>

                <h3>© 2023 ABTIS All rights reserved.</h3>
                <h3>English</h3>

            </footer>

        </main>

        <script type="module" src="/static/scripts/clients/personnel/dashboard.client.js"></script>

    </body>

</html>