<!DOCTYPE html>

<html lang="en" data-site="dashboard">

    <head>
    
        <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/static/styles/index.css">
        <meta charset="UTF-8">
        <title>ABTIS Personnel | Dashboard</title>
    
    </head>
    
    <body>

        <header>

            <div class="heading">

                <div class="text">

                    <h1>Automated Book Tracking & Inventory System</h1>
                    <h2>FEU Roosevelt Library Dashboard</h2>

                </div>

                <div class="info">

                    <h2>Good afternoon, <span class="name">John Doe</span></h2>
                    <h3>FEU Roosevelt <span class="role">Guest</h3>

                </div>

            </div>

            <nav>

                <div class="tabs">

                    <div class="dashboard active">

                        <i class="fa-regular fa-chart-line"></i>
                        <h2>Dashboard</h2>

                    </div>

                    <div class="inventory">

                        <i class="fa-regular fa-box-archive"></i>
                        <h2>Inventory</h2>

                    </div>

                    <div class="students">

                        <i class="fa-regular fa-user-graduate"></i>
                        <h2>Students</h2>

                    </div>

                    <div class="users">

                        <i class="fa-regular fa-user-group"></i>
                        <h2>Personnel</h2>

                    </div>

                </div>

                <div class="actions">

                    <div class="refresh">
                        
                        <i class="fa-regular fa-redo"></i>
                        <h2>Refresh</h2>
                    
                    </div>

                    <div class="themeSwitch">
                        
                        <i class="fa-regular fa-moon"></i>
                        <h2>Dark mode</h2>
                    
                    </div>
                    
                    <div class="logout">

                        <i class="fa-regular fa-right-from-bracket"></i>
                        <h2>Logout</h2>

                    </div>

                </div>

            </nav>

        </header>

        <div class="overview">

            <div class="first">

                <div class="header">

                    <h2>No data</h2>
                    <h3>Internal Server Error</h3>

                </div>

                <h1>No data</h1>

            </div>

            <div class="second">

                <div class="header">

                    <h2>No data</h2>
                    <h3>Internal Server Error</h3>

                </div>

                <h1>No data</h1>

            </div>

            <div class="third">

                <div class="header">

                    <h2>No data</h2>
                    <h3>Internal Server Error</h3>

                </div>

                <h1>No data</h1>

            </div>

        </div>

        <div class="controls">

            <div class="search">

                <div class="input">

                    <input type="text" class="input" placeholder=" ">
                    <label for="search" class="label">Search</label>
                    
                </div>

                <button data-type="search" type="submit" disabled>
                    <i class="fa-regular fa-magnifying-glass"></i>  
                </button>

            </div>

            <button data-type="action" type="submit" style="display: none;"></button>

        </div>

        <div class="table" data-tab="dashboard" data-active="true">
            
            <div class="pagination">
                
                <h3>Showing <span class="currentCount">0</span> of <span class="maxCount">0</span> books</h3>
                
                <div class="controls">

                    <div class="previous">

                        <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                        <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                    </div>
                    
                    <h3>Showing page <input class="currentPage" type="text"> of <span class="maxPage">0</span></h3>
                    
                    <div class="forward">

                        <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                        <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                    </div>

                </div>

            </div>

            <div class="data">

                <div class="headers">

                    <i class="warning fa-regular fa-triangle-exclamation"></i>

                    <div class="title">
                        
                        <div class="wrapper"><h2>Title</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="status">
                        
                        <div class="wrapper"><h2>Status</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="borrower">
                        
                        <div class="wrapper"><h2>Borrower</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="borrowDate">
                        
                        <div class="wrapper">

                            <h2>Date</h2>
                            <h3>Borrow</h3>

                        </div>

                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="dueDate">
                        
                        <div class="wrapper">

                            <h2>Date</h2>
                            <h3>Due</h3>

                        </div>

                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="publicationDate">

                        <div class="wrapper">

                            <h2>Date</h2>
                            <h3>Publication</h3>

                        </div>

                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="acquiredDate">
                        
                        <div class="wrapper">

                            <h2>Date</h2>
                            <h3>Acquired</h3>

                        </div>

                        <i class="fa-solid fa-caret-down"></i>
                        
                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-message"></i>
                        <i class="fa-regular fa-pen-to-square"></i>

                    </div>

                </div>
                
                <div class="entries"></div>

            </div>

        </div>

        <div class="table" data-tab="inventory" data-active="false" style="display: none;">
            
            <div class="pagination">
                
                <h3>Showing <span class="currentCount">0</span> of <span class="maxCount">0</span> books</h3>
                
                <div class="controls">

                    <div class="previous">

                        <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                        <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                    </div>
                    
                    <h3>Showing page <input class="currentPage" type="text"> of <span class="maxPage">0</span></h3>
                    
                    <div class="forward">

                        <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                        <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                    </div>

                </div>

            </div>

            <div class="data">

                <div class="headers">

                    <i class="warning fa-regular fa-triangle-exclamation"></i>

                    <div class="title">
                        
                        <div class="wrapper"><h2>Title</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="status">
                        
                        <div class="wrapper"><h2>Status</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="author">
                        
                        <div class="wrapper"><h2>Author</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="genre">
                        
                        <div class="wrapper"><h2>Genre</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="publicationDate">

                        <div class="wrapper">

                            <h2>Date</h2>
                            <h3>Publication</h3>

                        </div>
                        
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="acquiredDate">

                        <div class="wrapper">

                            <h2>Date</h2>
                            <h3>Acquired</h3>

                        </div>

                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-arrow-right-from-arc"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-xmark"></i>

                    </div>

                </div>
                
                <div class="entries"></div>

            </div>

        </div>

        <div class="table" data-tab="students" data-active="false" style="display: none;">
        
            <div class="pagination">

                <h3>Showing <span class="currentCount">0</span> of <span class="maxCount">0</span> students</h3>

                <div class="controls">

                    <div class="previous">

                        <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                        <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                    </div>

                    <h3>Showing page <input class="currentPage" type="text"> of <span class="maxPage">0</span></h3>

                    <div class="forward">

                        <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                        <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                    </div>


                </div>

            </div>

            <div class="data">

                <div class="headers">

                    <i class="warning fa-regular fa-triangle-exclamation"></i>

                    <div class="name">
                        
                        <div class="wrapper"><h2>Name</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="studentNumber">
                        
                        <div class="wrapper">

                            <h2>Number</h2>
                            <h3>Student</h3>

                        </div>
                        
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="status">
                        
                        <div class="wrapper"><h2>Status</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="borrowedBook">
                        
                        <div class="wrapper">

                            <h2>Book</h2>
                            <h3>Borrowed</h3>

                        </div>
                        
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="phoneNumber">
                        
                        <div class="wrapper">

                            <h2>Number</h2>
                            <h3>Phone</h3>

                        </div>

                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="emailAddress">

                        <div class="wrapper">
                            
                            <h2>Address</h2>
                            <h3>Email</h3>
                        
                        </div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-message"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-xmark"></i>

                    </div>

                </div>
                
                <div class="entries"></div>

            </div>
        
        </div>

        <div class="table" data-tab="users" data-active="false" style="display: none;">
        
            <div class="pagination">

                <h3>Showing <span class="currentCount">0</span> of <span class="maxCount"></span> books</h3>

                <div class="controls">

                    <div class="previous">

                        <i aria-disabled="true" class="fa-regular fa-angles-left"></i>
                        <i aria-disabled="true" class="fa-regular fa-angle-left"></i>

                    </div>

                    <h3>Showing page <input class="currentPage" type="text"> of <span class="maxPage">0</span></h3>

                    <div class="forward">

                        <i aria-disabled="true" class="fa-regular fa-angle-right"></i>
                        <i aria-disabled="true" class="fa-regular fa-angles-right"></i>

                    </div>


                </div>

            </div>


            <div class="data">

                <div class="headers">

                    <i class="warning fa-regular fa-triangle-exclamation"></i>

                    <div class="fullName">
                        
                        <div class="wrapper"><h2>Name</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="username">
                        
                        <div class="wrapper"><h2>Username</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="role">
                        
                        <div class="wrapper"><h2>Role</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="privilege">
                        
                        <div class="wrapper"><h2>Privilege</h2></div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="emailAddress">
                        
                        <div class="wrapper">
                        
                            <h2>Address</h2>
                            <h3>Email</h3>
                        
                        </div>
                        <i class="fa-solid fa-caret-down"></i>

                    </div>

                    <div class="actions">

                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-xmark"></i>

                    </div>

                </div>
                
                <div class="entries"></div>

            </div>

        </div>

        <footer>

            <h3>© 2023 ABTIS All rights reserved.</h3>
            <h3>English</h3>

        </footer>

        <script type="module" src="/static/scripts/clients/personnel/dashboard.client.js"></script>

    </body>

</html>